Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

feat(be): 방삭제 시 관련 키 캐시에서 삭제
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

refactor(be): handleWaitlist에서 채팅 히스토리를 보내게 통합 - 대기 기능에서 생긴 모든 유저가 대기후 입장하도록 바뀐 것에 따라 이중으로 채팅히스토리를 보내주는 로직을 제거했습니다
  server/src/game/game.gateway.ts
Due: server-lint, server-format

feat(fe): roundreplay 리플레이 카드 수 화면크기에 맞춰 조정 - usemediaquery 훅으로 모바일 환경 확인
  client/src/entities/roundResult/lib/gridLayout.ts
  client/src/entities/roundResult/model/usePlayerPagination.ts
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/entities/similarity/ui/similarityDetail/MySimilarityDetail.tsx
  client/src/entities/timer/ui/Timer.tsx
  client/src/shared/model/index.ts
  client/src/shared/model/useMediaQuery.ts
  client/src/widgets/roundReplay/ui/RoundReplay.stories.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
Due: client-lint, client-format

design(fe): 채팅 UI 반응형 적용
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

design(fe): gameend 플레이어 순위 글씨크기 반응형 적용
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

fix(be): 플레이어 퇴장 lua 스크립트 적용
  server/src/game/game.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

refactor(be): 사용하지 않는 상수 제거
  server/src/game/game.service.ts
Due: server-lint, server-format

feat(be): 플레이어 퇴장 시 게임 진행 데이터 삭제 기능 구현
  server/src/game/game.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/redis-keys.ts
Due: server-lint, server-format

refactor(fe): feature/socket FSD구조로 개선
  client/src/features/socket/index.ts
  client/src/features/socket/model/index.ts
  client/src/pages/game/Game.tsx
Due: client-lint, client-format

refactor(fe): useGameSocket의 계산 함수 순수 함수로 분리 및 단위 테스트 코드 작성 - 소켓 내부의 로직을 테스트 용이한 순수함수로 분리했습니다 - 순수함수에 대한 테스트 코드를 작성했습니다.
  client/src/features/socket/lib/socketHandlers.test.ts
  client/src/features/socket/lib/socketHandlers.ts
Due: client-lint, client-format

refactor(fe): 소켓 연결 후 store에서 socketId 가져오도록 통일 - 처음 소켓 연결 후 메서드에서 사용 시 스토어에서 소켓아이디를 참조하도록 개선
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/features/liveRanking/model/useLiveRanking.ts
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

design(fe): 글씨크기, 간격 수정하여 반응형 UI 추가
  client/src/entities/drawing/ui/RankingPanel.tsx
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
  client/src/entities/gameResult/ui/PotgCard.tsx
  client/src/entities/ranking/ui/StandingRow/StandingRow.tsx
  client/src/entities/roundResult/lib/gridLayout.ts
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/entities/roundResult/ui/PlayerReplayPagination.tsx
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/roomCode/ui/RoomCodeCopy.tsx
  client/src/features/waitingRoomActions/ui/WaitingRoomActions.tsx
  client/src/widgets/roundStanding/ui/RoundStanding.tsx
Due: client-lint, client-format

design(fe): 연습하기 모달 반응형 UI 추가
  client/src/features/practice/ui/Practice.tsx
  client/src/widgets/waiting/ui/Waiting.stories.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix(fe): 빌드오류 해결 - gridLayout 정의 변경에 따라 테스트코드 수정 - useravatar 스타일 적용 방식 변경에 따라 chat ui 수정
  client/src/entities/roundResult/lib/gridLayout.test.ts
  client/src/features/chat/ui/ChatMessage.tsx
Due: client-lint, client-format

fix(fe): 린트 오류 해결
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/shared/model/useMediaQuery.ts
Due: client-lint, client-format

fix(be): host_index = 2 로 수정
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

design(fe): 버튼 이름 수정 및 drawingplaycanvas loop 중단
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
  client/src/features/replayingCanvas/ui/DrawingReplayCanvas.tsx
Due: client-lint, client-format

test(fe): gridlayout 모바일 기준 테스트케이스 추가
  client/src/entities/roundResult/lib/gridLayout.test.ts
Due: client-lint, client-format

chore: Playwright e2e 테스트 환경 설정
  .github/workflows/playwright.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: none

docs: AI 기반 e2e 테스트 작성 가이드 추가
  tests/e2e 테스트 작성 가이드.md
Due: none

feat(server): 테스트 환경용 시간 설정 지원
  server/.env.test
  server/src/app.module.ts
  server/src/common/constants/index.ts
Due: server-lint, server-format

test: e2e 테스트용 공통 fixture 함수 추가
  tests/fixtures.ts
Due: none

test: 게임 핵심 플로우 e2e 테스트 추가
  tests/game-flow.spec.ts
Due: none

test: 게임 재시작 e2e 테스트 추가
  tests/game-restart.spec.ts
Due: none

test: 초대 링크 입장 e2e 테스트 추가
  tests/invite-link.spec.ts
Due: none

test: 게임 중간 입장 e2e 테스트 추가
  tests/mid-join.spec.ts
Due: none

test: 플레이어 이탈 e2e 테스트 추가
  tests/player-leave.spec.ts
Due: none

test(be): progressCacheService 의존성 추가
  server/src/game/game.service.spec.ts
Due: server-lint, server-format

docs: 환경변수 기반 상수에 한글 주석 추가
  server/src/common/constants/index.ts
Due: server-lint, server-format

refactor: 테스트 디렉토리 구조 개선
  test/package.json
  tests/artillery/.gitignore
  tests/artillery/multi-room/.env.example
  tests/artillery/multi-room/load.test.yml
  tests/artillery/multi-room/processor.js
  tests/artillery/pnpm-lock.yaml
  tests/artillery/single-room/.env.example
  tests/artillery/single-room/load.test.yml
  tests/artillery/single-room/processor.js
  tests/e2e/e2e 테스트 작성 가이드.md
  tests/e2e/fixtures.ts
  tests/e2e/game-flow.spec.ts
  tests/e2e/game-restart.spec.ts
  tests/e2e/invite-link.spec.ts
  tests/e2e/mid-join.spec.ts
  tests/e2e/player-leave.spec.ts
Due: none

feat: Artillery 성능 테스트 스크립트 추가
  package.json
Due: none

fix: Artillery 스크립트 경로 수정
  package.json
Due: none

chore: Playwright GitHub Actions 워크플로우 삭제
  .github/workflows/playwright.yml
Due: none

chore(be): 서버 도커파일
  deploy/Dockerfile
Due: none

chore(be): 그림 데이터 추가
  server/data/promptStrokes.json
Due: none

chore(be): 컴포즈 파일 설정
  deploy/compose.yml
Due: none

chore(be): 도커 이미지 빌드 시 그림 데이터 포함 스크립트 추가
  deploy/Dockerfile
Due: none

chore(be): 네트워크 추가
  deploy/compose.yml
Due: none

fix(be): 오타 수정
  deploy/compose.yml
Due: none

chore(be): 서버 CD 스크립트 수정
  .github/workflows/deploy-backend.yml
Due: none

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
