Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

refactor(be): 각 단계별 로직을 phaseService로 분리
  server/src/round/phase.service.ts
  server/src/round/round.module.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

refactor(be): 메소드 위치 이동
  server/src/round/round.service.ts
Due: server-lint, server-format

refactor(be): 중복 코드 제거
  server/src/round/round.service.ts
Due: server-lint, server-format

refactor(fe): room settings modal 로직 훅 분리
  client/src/features/roomSettings/model/useRoomSettings.ts
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

chore(be): 그림 데이터 서버와 동일하게 로컬에도 파일 추가
  server/data/promptStrokes.json
Due: none

refactor(be): logger 삭제
  server/src/round/phase.service.ts
Due: server-lint, server-format

refactor(be): PhaseEvent.event -> PhaseEvent.name 으로 변경
  server/src/round/phase.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

fix(fe): 린트 오류 해결
  client/src/features/roomSettings/model/useRoomSettings.ts
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

test(be): round.service.spec.ts 테스트 코드 작성
  server/src/round/round.service.spec.ts
Due: server-lint, server-format

test(be): phase.service.ts 테스트 코드 작성
  server/src/round/phase.service.spec.ts
Due: server-lint, server-format

feat(fe): maxPlayer에 맞게 빈자리 슬롯 동적 표시
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

feat(fe): 빈자리 슬롯 클릭 시 초대 링크 복사 기능 추가
  client/src/entities/player/ui/EmptySlot.tsx
  client/src/shared/config/mixpanelEvents/index.ts
Due: client-lint, client-format

style(fe): 버튼 요소에 cursor-pointer 추가
  client/src/entities/gameSettings/ui/GameSettingsCard.tsx
  client/src/shared/ui/CommonBtn.tsx
Due: client-lint, client-format

refactor(fe): RoomCodeCopy 전체 영역 클릭 가능하도록 개선
  client/src/features/roomCode/ui/RoomCodeCopy.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

refactor(fe): EmptySlot 초대 기능 제거 및 단순화
  client/src/entities/player/ui/EmptySlot.tsx
Due: client-lint, client-format

style(fe): 인원 카운트 및 상태 텍스트 크기 증가
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

refactor(be): 타이머 감소에 로직 개선
  server/src/redis/cache/timer-cache.service.ts
  server/src/timer/timer.service.ts
Due: server-lint, server-format

feat(fe): tsconfig.build 깃 추 제거
  server/.gitignore
  server/tsconfig.build.tsbuildinfo
Due: none

feat(fe): tsconfigRootDir 추가
  client/eslint.config.js
Due: none

fix(fe): zod 버전 변경
  client/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: none

feat(fe): 소켓 통신 데이터 스키마 검증 추가
  client/src/features/socket/model/useGameSocket.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/round.schema.ts
  server/src/prompt/prompt.service.ts
  server/src/redis/cache/chat-cache.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/cache/game-room-cache.service.ts
  server/src/redis/cache/waitlist-cache.service.ts
Due: client-lint, client-format, server-lint, server-format

feat: CI 변경
  .github/workflows/ci.yml
  client/src/entities/gameResult/model/types.ts
  client/src/entities/roundResult/model/types.ts
  client/src/shared/config/socketEvents/index.ts
  server/src/game/game.service.spec.ts
  server/tsconfig.json
Due: client-lint, client-format, server-lint, server-format

feat(be): eslint any 완화
  client/src/features/chat/model/types.ts
  server/eslint.config.mjs
  server/src/round/round.service.ts
Due: client-lint, client-format, server-lint, server-format

feat(be): GamePhase 타입 선언
  server/src/common/constants/index.ts
Due: server-lint, server-format

fix(be): redundant eslint 완화
  server/eslint.config.mjs
Due: none

fix(be): ZodError API 메서드 변경
  server/eslint.config.mjs
  server/src/common/pipes/zod-validation.pipe.ts
Due: server-lint, server-format

fix(be): test lint 제거
  server/eslint.config.mjs
Due: none

fix(be): lint 복구
  server/eslint.config.mjs
  server/src/common/pipes/zod-validation.pipe.ts
Due: server-lint, server-format

chore(fe): 사용하지 않는 CLICK_INVITE_EMPTY_SLOT 이벤트 제거
  client/src/shared/config/mixpanelEvents/index.ts
Due: client-lint, client-format

fix(be): 없는 타이머를 감소시킬 때 -1 타이머가 저장되고 남게되는 버그 수정
  server/src/redis/cache/timer-cache.service.ts
Due: server-lint, server-format

fix(be): onTimerEndCallback()에서 에러가 발생하면, 타이머 삭제가 안되는 버그 수정
  server/src/timer/timer.service.ts
Due: server-lint, server-format

fix(be): 프롬프트가 없는 에러 발생 시, 게임 상태 불일치 문제 수정
  server/src/round/phase.service.ts
Due: server-lint, server-format

fix(test): 예외 처리
  tests/artillery/multi-room/processor.js
Due: none

feat(be): 서버에서 profileId uuid 형식인지 검증
  server/src/common/constants/error-code.ts
  server/src/common/utils/validate.ts
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(fe): drawingcanvas export 위치 수정
  client/src/features/drawingCanvas/index.ts
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/drawingToolbar/ui/ColorButton.tsx
Due: client-lint, client-format

fix(be): server tsconfig 수정
  server/src/common/constants/index.ts
  server/src/common/types/game-room.types.ts
  server/src/common/types/index.ts
  server/src/game/game.service.spec.ts
  server/tsconfig.json
Due: server-lint, server-format

feat(fe): 잘못된 프로필 아이디 조작시 /이동 후 프로필 아이디 재발급하게 설정 - 프로필 아이디를 조작한 후 리셋되지 않아 서버 검증에서 걸리는 불편 해결
  client/src/features/socket/model/useErrorEvents.ts
Due: client-lint, client-format

refactor(fe): entities/Player export 수정
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/entities/gameRoom/model/types.ts
  client/src/entities/player/index.ts
  client/src/entities/player/model/index.ts
  client/src/entities/player/ui/PlayerCard.tsx
  client/src/entities/player/ui/playerCard/index.ts
  client/src/features/liveRanking/config/playerColors.ts
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/socket/model/useGameSocket.ts
  client/src/test/mocks/mockData.ts
Due: client-lint, client-format

refactor(fe): 리스너 등록후 소켓 연결하도록 변경 - 기존 소켓을 연결하고 리스너를 등록하는 구조여서 소켓에 연결된 메시지가 전달되지 않아 리스너를 등록한 후 소켓 연결을 해제하거나 등록하도록 개선
  client/src/entities/profile/index.ts
  client/src/features/socket/model/useGameSocket.ts
  client/src/features/socket/model/useSocketConnection.ts
Due: client-lint, client-format

test(fe): 탭 간 중복 연결 방지 기능 통합 테스트 구현
  client/src/entities/profile/index.ts
  client/src/features/socket/model/profileIdSecurity.test.ts
  client/src/shared/model/useLocalStorageWatch.test.ts
Due: client-lint, client-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
