Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

test(be): room.service.ts 테스트 코드 작성
  server/src/game/room.service.spec.ts
Due: server-lint, server-format

fix(be): 방 설정 변경 시 현재 인원보다 작게 설정할 때 버그 수정
  server/src/game/game.service.ts
Due: server-lint, server-format

test(be): game.service 테스트 코드 수정
  server/src/game/game.service.spec.ts
Due: server-lint, server-format

fix(be): ZodError 제거 및 소켓 예외처리 적용
  server/src/game/game.gateway.ts
Due: server-lint, server-format

fix(be): 최대 인워수 변경
  packages/shared/src/schemas/entity.schema.ts
Due: none

fix(be): schema 통일 작업 진행
  packages/shared/src/schemas/game.schema.ts
  packages/shared/src/schemas/result.schema.ts
  packages/shared/src/schemas/round.schema.ts
Due: none

fix(be): shared types 코드 직접 참조 방식으로 변경
  client/eslint.config.js
  package.json
  packages/shared/package.json
Due: none

fix(be): tsconfigRootDir 설정
  client/eslint.config.js
Due: none

fix(be): packages/shared 빌드 제거 및 코드 직접 참조
  .github/workflows/ci.yml
  packages/shared/src/constants/index.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas/chat.schema.ts
  packages/shared/src/schemas/entity.schema.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/play.schema.ts
  packages/shared/src/schemas/result.schema.ts
  packages/shared/src/schemas/round.schema.ts
  packages/shared/src/types/index.ts
Due: none

refactor(fe): drawingcanvas 로직 분리 및 테스트코드 작성
  client/src/features/drawingCanvas/model/useDrawingSubmission.test.ts
  client/src/features/drawingCanvas/model/useDrawingSubmission.ts
  client/src/features/drawingCanvas/model/useDrawingTimeTracking.test.ts
  client/src/features/drawingCanvas/model/useDrawingTimeTracking.ts
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
Due: client-lint, client-format

fix: schema 통일
  packages/shared/src/schemas/game.schema.ts
Due: none

fix: tsconfig-path dependecies로 변경
  server/package.json
Due: none

fix: tsconfig-path dependecies로 변경
  pnpm-lock.yaml
Due: none

fix(be): server deploy 모노레포 구조 참조로 변경
  deploy/Dockerfile
  deploy/compose.yml
Due: none

fix(be): server deploy ignore script 추가
  .npmrc
  deploy/Dockerfile
Due: none

refactor(fe): waiting 위젯 액션로직 분리 및 테스트 코드 서
  client/src/widgets/waiting/model/useWaitingActions.test.ts
  client/src/widgets/waiting/model/useWaitingActions.ts
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

refactor(fe): waitingroomoverlay 컴포넌트 export 위치 수정
  client/src/features/waitingRoomActions/index.ts
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix: cluster-key-slot 중복 설치 수정
  pnpm-lock.yaml
Due: none

fix: cluster-key-slot 중복 설정 제거
  pnpm-lock.yaml
Due: none

fix(be): shared 패키지 도커 런타임 환경 해결
  deploy/Dockerfile
  pnpm-lock.yaml
  server/package.json
Due: none

fix(be): docker redis 추가
  deploy/.env.example
  deploy/compose.yml
  pnpm-lock.yaml
  server/package.json
Due: none

fix(be): docker redis 제거
  deploy/.env.example
  deploy/compose.yml
Due: none

refactor(fe): entities/similarity 상세유사도 스타일 상수 config로 분리
  client/src/entities/drawing/lib/drawStrokesOnCanvas.ts
  client/src/entities/similarity/config/similarityItems.ts
  client/src/entities/similarity/index.ts
  client/src/entities/similarity/ui/MySimilarityDetail.tsx
  client/src/entities/similarity/ui/PlayerSimilarityDetailTooltip.tsx
  client/src/shared/lib/index.ts
Due: client-lint, client-format

test(fe): drawstrokesoncanvas 테스트 코드 작성
  client/.gitignore
  client/src/entities/drawing/lib/drawStrokesOnCanvas.test.ts
Due: client-lint, client-format

chore(be): nestjs eventemitter 설치
  pnpm-lock.yaml
  server/package.json
Due: none

feat(be): app.module 에 eventemitter 모듈 설정
  server/src/app.module.ts
Due: server-lint, server-format

fix: packages 전체 빌드 결과물을 참조하도록 재변경
  deploy/Dockerfile
  packages/shared/package.json
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  server/package.json
  server/tsconfig.build.json
  server/tsconfig.json
  server/tsconfig.paths.json
Due: none

fix: 모든 OS에서 동일하게 작동시키는 cross-env 설치
  pnpm-lock.yaml
  server/package.json
Due: none

style(fe): PlayerCard, SlotCard 아이콘 크기 및 간격 통일
  client/src/entities/player/ui/PlayerCard.tsx
  client/src/entities/player/ui/SlotCard.tsx
Due: client-lint, client-format

fix(fe): 슬롯 잠금/해제 시 최소 2명 유지 제한 적용
  client/src/features/playerList/model/useSlotHighlight.ts
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

style(fe): prettier format 적용
  client/src/features/playerList/model/useSlotHighlight.ts
Due: client-lint, client-format

test(fe): 최소 2명 제한에 맞게 useSlotHighlight 테스트 수정
  client/src/features/playerList/model/useSlotHighlight.test.ts
Due: client-lint, client-format

feat(be): StandingsCacheService에 개별 유저 삭제 메서드 추가
  server/src/redis/cache/standings-cache.service.ts
Due: server-lint, server-format

fix(be): 유저 이탈 시 standings 캐시에서 유저 제거
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

refactor(fe): SlotCard SLOT_CONFIG를 config 폴더로 분리
  client/src/entities/player/config/slotConfig.ts
  client/src/entities/player/ui/SlotCard.tsx
Due: client-lint, client-format

refactor(be): phase_changed 이벤트 설정
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

refactor(be): 사용하지 않는 코드 삭제
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

fix(fe,be): 빌드 참조 변경 및 test vi.mock추가
  client/src/pages/home/Home.test.tsx
  client/tsconfig.app.json
  client/vite.config.ts
  server/package.json
  server/tsconfig.json
Due: client-lint, client-format

fix(fe,be): format 형식 통일 및 CI packages 빌드 추가
  .github/workflows/ci.yml
  client/src/pages/home/Home.test.tsx
Due: client-lint, client-format

fix(fe): 빌드 cjs 방식 유지
  client/vite.config.ts
Due: client-lint, client-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
