Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

chore(fe): 커서 파일 cur에서 png로 변경
  client/public/cursors/pencil.cur
  client/public/cursors/pencil.png
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/drawingToolbar/ui/ColorButton.tsx
Due: client-lint, client-format

lint(fe): 대기방 포맷 수정
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

feat(fe): mixPanel 세팅
  client/.env.example
  client/package.json
  client/pnpm-lock.yaml
  client/src/app/ui/appLayout/index.tsx
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/index.tsx
  client/src/shared/config/index.ts
  client/src/shared/config/mixpanelEvents/index.ts
  client/src/shared/lib/mixpanel/index.ts
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

feat(fe): Doodles 추가
  client/src/app/ui/appLayout/index.tsx
  client/src/shared/ui/doodles/index.tsx
  client/src/shared/ui/index.ts
Due: client-lint, client-format

design(fe): 안쓰는 폰트 삭제 - SchoolSafetyRoundedSmile 제거
  client/src/index.css
Due: none

feat(fe): Toast 컴포넌트 구현
  client/src/shared/ui/toast/Toast.tsx
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

fix(fe): Toast 테스트 코드 제거
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

fix(fe): Toast 화살표 함수로 변경
  client/src/shared/ui/index.ts
  client/src/shared/ui/toast/Toast.tsx
Due: client-lint, client-format

fix(fe): Toast export 방식 변경
  client/src/shared/ui/index.ts
  client/src/shared/ui/toast/Toast.tsx
Due: client-lint, client-format

fix(fe): 복사 성공 시에만 이벤트 기록
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix(fe): 상수명 컨벤션 적용
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/shared/config/mixpanelEvents/index.ts
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix(fe): 개발 환경 이벤트 수집 적용 취소
  client/src/index.tsx
Due: client-lint, client-format

fix: 테스트 환경에서 track 이벤트 발생 금지 처리
  client/src/shared/lib/mixpanel/index.ts
Due: client-lint, client-format

refactor(fe): page 레이어 FSD 컨벤션으로 개선
  client/src/app/config/router.tsx
  client/src/app/index.tsx
  client/src/app/ui/AppLayout.tsx
Due: client-lint, client-format

chore(fe): boring-avatars 라이브러리 설치 - 사용자 아이콘을 위한 라이브러리
  client/package.json
  client/pnpm-lock.yaml
Due: none

feat(fe): 아바타 생성 컴포넌트 구현 - shared/ui 위치 - 전역적으로 사용할 아바타 설정 컴포넌트
  client/src/shared/ui/userAvatar/UserAvatar.tsx
Due: client-lint, client-format

refactor(fe): shared/ui fsd구조로 재편 - 들쭉날쭉했던 export 형식 통일 - 세그먼트 하단의 추가적인 폴더삭제 예) ui/title/ui/maintitle.tsx => 플랫 구조로 세그먼트 하단 폴더 삭제 - 사용 예시) import {a,b,c} from shared/ui;
  client/src/entities/alert/ui/AlertModal.tsx
  client/src/features/nickname/ui/NicknameInputModal.tsx
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/shared/ui/BaseModal.tsx
  client/src/shared/ui/CommonBtn.tsx
  client/src/shared/ui/DecorateTitle.tsx
  client/src/shared/ui/Input.tsx
  client/src/shared/ui/RoundBadge.tsx
  client/src/shared/ui/Title.tsx
  client/src/shared/ui/Toast.tsx
  client/src/shared/ui/UserAvatar.tsx
  client/src/shared/ui/base-modal/index.ts
  client/src/shared/ui/button/index.ts
  client/src/shared/ui/doodles.tsx
  client/src/shared/ui/index.ts
  client/src/shared/ui/input/index.ts
  client/src/shared/ui/round/index.ts
  client/src/shared/ui/title/index.ts
  client/src/widgets/drawing/ui/Drawing.tsx
  client/src/widgets/prompt/ui/Prompt.tsx
Due: client-lint, client-format

style(fe): doodles 컨벤션에 맞게 파일 명 수정
  client/src/app/ui/AppLayout.tsx
  client/src/shared/ui/index.ts
Due: client-lint, client-format

refactor(fe): shared/api fsd 구조로 개편
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/liveRanking/model/useLiveRanking.ts
  client/src/features/roomSettings/api/createRoom.ts
  client/src/features/socket/model/useGameSocket.ts
  client/src/shared/api/fetchClient.ts
  client/src/shared/api/index.ts
  client/src/shared/api/rest/index.ts
  client/src/shared/api/socket.ts
  client/src/shared/ui/index.ts
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

chore(fe): Storybook 초기 환경 세팅
  client/.gitignore
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
Due: client-lint, client-format

chore(fe): Storybook 글로벌 스타일 설정
  client/.storybook/preview-head.html
  client/.storybook/preview.ts
Due: client-lint, client-format

feat(be): 유저 강퇴 서버 이벤트 추가
  client/src/index.tsx
  server/src/common/constants/index.ts
  server/src/game/dto/user-kick.dto.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: client-lint, client-format, server-lint, server-format

feat(be): 유저 강퇴 클라이언트 이벤트 구현
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/socket/model/useGameSocket.ts
  client/src/shared/config/socketEvents/index.ts
Due: client-lint, client-format

feat(be): 강퇴 이후 방 메타데터 업데이트
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

feat(fe): 공통인풋과 버튼에 사이즈 요소와 접근성 props 추가 - 버튼의 경우 기본 버전과 스크리블 버전으로 세분화 - 크기, 아이콘 등등 세분화하여 공통 컴포넌트 범용성 증가 - 인풋도 기본 버전과 스크리블 버전으로 세분화 - 글자수, 접근성 등을 적용함
  client/src/shared/ui/CommonBtn.tsx
  client/src/shared/ui/Input.tsx
Due: client-lint, client-format

feat(fe): 유저 프로필 수정 기능 구현 - boring- avatar라이브러리를 활용하여 구현 - 메인 페이지에서 닉네임과 아이콘 변경 가능 - 로컬 스토리지의 profileId를 변환시키면 아이콘 변경 가능
  client/src/entities/profile/index.ts
  client/src/entities/profile/lib/profileId.ts
  client/src/entities/profile/ui/ProfileEditor.tsx
  client/src/index.css
  client/src/shared/config/index.ts
  client/src/shared/config/validation.ts
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

feat(fe): 클라이언트에서 사용자 아이콘 사용하는 컴포넌트에 적용
  client/src/entities/gameResult/model/types.ts
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
  client/src/entities/player/model/types.ts
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/entities/ranking/model/types.ts
  client/src/entities/ranking/ui/rankingCard/RankingCard.tsx
  client/src/entities/roundResult/model/types.ts
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/features/liveRanking/ui/LiveRankingList.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

chore(fe): Chromatic 패키지 설치
  client/package.json
  client/pnpm-lock.yaml
Due: none

docs(fe): DrawingToolbar 스토리 추가
  client/src/features/drawingToolbar/ui/DrawingToolbar.stories.tsx
Due: client-lint, client-format

refactor(fe): 기존의 프로필이미지 두들스로 편입 - 뒷배경 레이아웃에 기존의 프로필이미지를 삽입했습니다 - PainterDoodle
  client/src/app/ui/AppLayout.tsx
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/shared/ui/doodles.tsx
  client/src/shared/ui/index.ts
Due: client-lint, client-format

fix: boring-avatar lockfile 싱크 업데이트
  client/pnpm-lock.yaml
Due: none

feat(fe): toast 전역상태 생성, 퇴장 알림 toast로 처리
  client/src/app/ui/appLayout/index.tsx
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/socket/model/useGameSocket.ts
  client/src/shared/model/index.ts
  client/src/shared/model/types.ts
  client/src/shared/model/useToastStore.ts
  client/src/shared/ui/toast/Toast.tsx
Due: client-lint, client-format

fix(fe): doodles.tsx => Doodles.tsx로 이름 재작명 - 리눅스 환경에서 해당 파일을 찾지못하여 다시 커밋
  client/src/shared/ui/Doodles.tsx
Due: client-lint, client-format

fix(fe): 소켓 cleanup 추가, toast message 상태 타입 통일
  client/src/features/socket/model/useGameSocket.ts
  client/src/shared/model/useToastStore.ts
Due: client-lint, client-format

refactor(fe): shared/model, features/similarity fsd구조로 변경
  client/src/entities/drawing/ui/StaticCanvas.tsx
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/replayingCanvas/ui/DrawingReplayCanvas.tsx
  client/src/features/similarity/index.ts
  client/src/features/similarity/lib/calculateColorSimilarity.ts
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/lib/calculateGreedyStrokeMatchScore.ts
  client/src/features/similarity/lib/calculateShapeSimilarity.ts
  client/src/features/similarity/lib/comparePairwiseStrokeSimilarity.ts
  client/src/features/similarity/lib/convexHullGeometry.ts
  client/src/features/similarity/lib/index.ts
  client/src/features/similarity/lib/math.ts
  client/src/features/similarity/lib/radialSignature.ts
  client/src/features/similarity/lib/strokeGeometry.ts
  client/src/shared/model/index.ts
  client/src/shared/model/useToastStore.ts
  client/src/shared/ui/toast/Toast.tsx
Due: client-lint, client-format

fix(fe): 환경별 track 함수 호출 여부 판별
  client/src/shared/lib/mixpanel/index.ts
Due: client-lint, client-format

feat(fe): boostAD 컴포넌트 삽입
  client/src/app/ui/appLayout/index.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/index.css
  client/src/shared/ui/base-modal/BaseModal.tsx
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

deploy(fe): Chromatic CI/CD workflow 추가
  .github/workflows/chromatic.yml
Due: none

chore(fe): 접근성 검사를 위한 Storybook addon-a11y 추가
  client/.storybook/main.ts
  client/package.json
  client/pnpm-lock.yaml
Due: client-lint, client-format

fix(fe/be): 현재보다 적은 인원으로 방설정 변경 시 튕기는 문제 수정
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
  server/src/game/game.service.ts
Due: client-lint, client-format, server-lint, server-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
