Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

chore(be): nginx 트래픽 변경 후 헬스 체크 + 롤백 스크립트 추가
  deploy/deploy.sh
Due: none

chore(be): Actions CD 스크립트 수정
  .github/workflows/deploy-backend.yml
Due: none

chore(be): 배포 테스트용 chore/#266-blue-green 브랜치 임시 추가
  .github/workflows/deploy-backend.yml
Due: none

fix(be): 스크립트 수정
  .github/workflows/deploy-backend.yml
Due: none

chore(be): CD 후에 사용하지 않는 도커 파일 삭제 스크립트 추가
  .github/workflows/deploy-backend.yml
Due: none

chore(be): 도커 파일 삭제 스크립트는 CD가 실패해도 실행되도록 if: always() 추가
  .github/workflows/deploy-backend.yml
Due: none

chore(be): CD 무한 루프 방지 타임아웃 추가
  .github/workflows/deploy-backend.yml
Due: none

fix(be): sudo -n 옵션으로 비밀번호 입력 프롬프트 시 즉시 실패하도록 수정
  deploy/deploy.sh
Due: none

fix(be): nginx 트래픽 전환 후 헬스 체크 실패 시 롤백이 안되는 버그 수정
  deploy/deploy.sh
Due: none

chore(be): 테스트용 임시 브랜치 필더 삭제
  .github/workflows/deploy-backend.yml
Due: none

chore(be): 사용하지 않는 주석 삭제
  deploy/deploy.sh
Due: none

feat(fe): 클라이언트 안정성 강화 및 Mixpanel 관측 개선
  client/src/app/config/router.tsx
  client/src/features/drawingCanvas/model/useColorSelection.ts
  client/src/features/drawingCanvas/model/useDrawingSubmission.ts
  client/src/features/drawingCanvas/model/useDrawingTimeTracking.ts
  client/src/features/drawingCanvas/model/useStrokes.ts
  client/src/features/replayingCanvas/lib/animateDrawing.ts
  client/src/features/socket/model/useErrorEvents.ts
  client/src/features/socket/model/useGameDataEvents.ts
  client/src/features/socket/model/useResultEvents.ts
  client/src/features/socket/model/useRoomEvents.ts
  client/src/index.tsx
  client/src/pages/home/Home.tsx
  client/src/shared/config/mixpanelEvents/index.ts
  client/src/shared/lib/mixpanel/earlyExitTracking.ts
  client/src/shared/lib/mixpanel/index.ts
  client/src/shared/lib/scaleStrokesToCanvas.ts
  client/src/shared/ui/ErrorBoundary.tsx
  client/src/shared/ui/index.ts
Due: client-lint, client-format

feat(fe): 클라이언트 안정성 강화 및 Mixpanel 관측 개선
  client/src/features/socket/model/useGameDataEvents.ts
  client/src/features/socket/model/useResultEvents.ts
  client/src/features/socket/model/useRoomEvents.ts
  client/src/shared/lib/scaleStrokesToCanvas.ts
Due: client-lint, client-format

feat(fe): 에러 컴포넌트 스토리북 추가
  client/src/shared/ui/ErrorBoundary.stories.tsx
  client/src/shared/ui/ErrorBoundary.tsx
Due: client-lint, client-format

fix(fe): 단위 테스트 sentry capture 제거
  client/src/features/drawingCanvas/model/useDrawingTimeTracking.test.ts
Due: client-lint, client-format

Update client/src/shared/lib/mixpanel/earlyExitTracking.ts
  client/src/shared/lib/mixpanel/earlyExitTracking.ts
Due: client-lint, client-format

fix(fe): 불필요 sentry capture 제거
  client/src/features/drawingCanvas/model/useDrawingSubmission.test.ts
  client/src/features/drawingCanvas/model/useDrawingSubmission.ts
Due: client-lint, client-format

feat(fe): tsconfig.test.json 추가 및 테스트 설정 구성
  client/tsconfig.json
  client/tsconfig.test.json
Due: none

feat(fe): tsconfig.test.json 추가 및 테스트 설정 제거
  client/tsconfig.json
  client/tsconfig.test.json
Due: none

fix(fe): 폴백 전송 데이터 스키마 통일
  client/src/features/drawingCanvas/model/useDrawingSubmission.ts
Due: client-lint, client-format

refactor(fe): FLIP 훅을 제네릭 콜백 패턴으로 개선해 재사용성 향상
  client/src/widgets/roundStanding/model/useFlipAnimation.ts
Due: client-lint, client-format

refactor(fe): 변경된 useFlipAnimation 인터페이스에 맞게 사용처 업데이트
  client/src/widgets/roundStanding/model/useRoundStanding.ts
  client/src/widgets/roundStanding/ui/RoundStanding.tsx
Due: client-lint, client-format

refactor(fe): CSS transition 대신 Web Animations API로 FLIP 구현
  client/src/widgets/roundStanding/model/useFlipAnimation.ts
Due: client-lint, client-format

feat(fe): ErrorBoundary 컴포넌트 추가 및 라우터에서 임포트 경로 수정
  client/src/app/config/router.tsx
  client/src/app/ui/ErrorBoundary.stories.tsx
  client/src/app/ui/ErrorBoundary.tsx
  client/src/shared/ui/index.ts
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

refactor(be): setNX + expire -> get + setEX 로 롤백
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint, server-format

feat(fe): 가중치 상수화 및 패널티 함수 도입
  client/src/features/similarity/config/similarityConfig.ts
  client/src/features/similarity/lib/densityBias.ts
  client/src/features/similarity/lib/inkLength.ts
  client/src/features/similarity/lib/math.ts
  client/src/features/similarity/lib/strokeGeometry.ts
Due: client-lint, client-format

feat(fe): 스트로크 매칭 점수 패널티 추가
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/lib/calculateGreedyStrokeMatchScore.ts
Due: client-lint, client-format

feat(fe): 과잉 드로잉 및 밀도편향 패널티 적용
  client/src/features/similarity/config/similarityConfig.ts
Due: client-lint, client-format

feat(fe): 과잉 드로잉 및 밀도편향 패널티 적용
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
Due: client-lint, client-format

refactor(fe): 유사도 로직 파일명 및 함수명 리팩토링
  client/src/features/drawingCanvas/model/useDrawingSubmission.test.ts
  client/src/features/drawingCanvas/model/useDrawingSubmission.ts
  client/src/features/similarity/config/similarityConfig.ts
  client/src/features/similarity/index.ts
  client/src/features/similarity/lib/calculateColorSimilarity.ts
  client/src/features/similarity/lib/calculateFinalSimilarityByPreprocessed.test.ts
  client/src/features/similarity/lib/calculateGreedyStrokeMatchScore.ts
  client/src/features/similarity/lib/calculateShapeSimilarity.ts
  client/src/features/similarity/lib/comparePairwiseStrokeSimilarity.ts
  client/src/features/similarity/lib/convexHullGeometry.ts
  client/src/features/similarity/lib/final.ts
  client/src/features/similarity/lib/geometry.ts
  client/src/features/similarity/lib/inkLength.ts
  client/src/features/similarity/lib/math.ts
  client/src/features/similarity/lib/penalty.ts
  client/src/features/similarity/lib/radialSignature.ts
  client/src/features/similarity/lib/shape.sim.ts
  client/src/features/similarity/lib/stroke.sim.ts
  client/src/features/similarity/lib/strokeGeometry.ts
Due: client-lint, client-format

design(fe): 선 개수 유사도 지표 UI에서 삭제
  client/src/entities/similarity/config/similarityItems.ts
Due: client-lint, client-format

fix(fe): 잉크 길이 패널티 계산오류 수정
  client/src/features/similarity/lib/penalty.ts
Due: client-lint, client-format

fix: 코드 형식 화살표 함수로 수정
  client/src/app/config/router.tsx
  client/src/app/ui/ErrorBoundary.stories.tsx
  client/src/app/ui/ErrorBoundary.tsx
Due: client-lint, client-format

fix: /game 링크 렌더링 전 이탈 추적
  client/src/shared/lib/mixpanel/earlyExitTracking.ts
Due: client-lint, client-format

fix: /game 링크 렌더링 전 이탈 추적
  client/src/shared/config/mixpanelEvents/index.ts
Due: client-lint, client-format

fix(be): 타이머 대기열 추가
  server/src/redis/cache/timer-cache.service.ts
  server/src/redis/redis-keys.ts
  server/src/timer/timer.service.ts
Due: server-lint, server-format

chore(be): Redis Stream 어댑터 설정
  server/src/main.ts
  server/src/redis/redis-io.adapter.ts
Due: server-lint, server-format

chore(be): socket-io redis-stream adapter 의존성 설치
  pnpm-lock.yaml
  server/package.json
Due: none

chore(be): nestjs schedule 의존성 추가
  pnpm-lock.yaml
  server/package.json
  server/src/app.module.ts
Due: server-lint, server-format

feat(be): 플레이어-소켓 데이터 저장 기능 추가
  server/src/redis/cache/player-cache.service.ts
  server/src/redis/redis-keys.ts
Due: server-lint, server-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
