Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

feat(fe): 그리드 안의 요소를 인원수와 내부 섹션의 크기로 동적으로 계산하여 반환하는 유틸함수 구현
  client/src/entities/roundResult/lib/gridLayout.ts
Due: client-lint, client-format

refactor(fe): 구현한 동적 섹션 계산 로직과 분리한 페이지네이션 훅을 ui 컴포넌트에 연동하여 코드의 목적과 가독성 개선
  client/src/entities/roundResult/index.ts
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
Due: client-lint, client-format

fix(fe): useGameSocket의 반영되지 않은 import 수정
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

fix(fe): develop 브랜치 빌드 에러 수정 - mockData.ts: gameResult import 경로 수정 (/model → index) - RoundReplay.stories.tsx: named import를 default import로 변경
  client/src/test/mocks/mockData.ts
  client/src/widgets/roundReplay/ui/RoundReplay.stories.tsx
Due: client-lint, client-format

fix: 임시로 번들사이즈 체크 시 오류가 발생해도 우회하여 머지할 수 있게 수정
  .github/workflows/ci.yml
Due: none

feat(fe): 나머지 phase ui 모바일 반응형 적용
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/entities/timer/ui/Timer.tsx
  client/src/index.css
  client/src/shared/ui/GameHeader.tsx
  client/src/widgets/drawing/ui/Drawing.stories.tsx
  client/src/widgets/drawing/ui/Drawing.tsx
  client/src/widgets/gameEnd/ui/GameEnd.stories.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/prompt/ui/Prompt.stories.tsx
  client/src/widgets/prompt/ui/Prompt.tsx
Due: client-lint, client-format

fix(fe): 페이지 전환 시 음악이 멈추는 문제 수정
  client/src/shared/model/useBGM.ts
Due: client-lint, client-format

feat(fe): 배경음악 추가
  client/src/entities/timer/ui/Timer.tsx
  client/src/shared/config/sound/index.ts
  client/src/shared/lib/sound/soundManager.ts
  client/src/shared/model/index.ts
  client/src/shared/model/useBGM.ts
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

feat(fe): 드로잉 BGM 추가
  client/src/shared/config/index.ts
  client/src/shared/config/sound/index.ts
  client/src/shared/lib/sound/soundManager.ts
  client/src/widgets/prompt/ui/Prompt.tsx
Due: client-lint, client-format

refactor(fe): sound config export 수정
  client/src/entities/timer/ui/Timer.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix(fe): 오타 수정 bgn_drawing -> bgm_drawing
  client/src/shared/config/sound/index.ts
Due: client-lint, client-format

fix(fe): playFilp 이 두 번 호출되는 문제 수정
  client/src/widgets/roundStanding/model/useFlipAnimation.ts
Due: client-lint, client-format

feat(fe): 누적 점수 Flip 애니메이션에 효과음 추가
  client/src/widgets/roundStanding/model/useRoundStanding.ts
Due: client-lint, client-format

fix(fe): 중복 호출 제거
  client/src/pages/game/Game.tsx
Due: client-lint, client-format

chore(be): 밸리데이션 라이브러리 zod 설치
  server/package.json
  server/pnpm-lock.yaml
Due: none

refactor(be): Redis 키 패턴 객체로 중앙에서 관리하는 형태로 개선 - 여러개의 서비스로직에서 반복적으로 키를 호출하는 메서드 코드가 중복되는 것을 하나의 객체에서 상속 받는 형태로 변경
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/cache/game-room-cache.service.ts
  server/src/redis/cache/leaderboard-cache.service.ts
  server/src/redis/cache/player-cache.service.ts
  server/src/redis/cache/standings-cache.service.ts
  server/src/redis/cache/timer-cache.service.ts
  server/src/redis/cache/waitlist-cache.service.ts
  server/src/redis/redis-keys.ts
Due: server-lint, server-format

refactor(be): game.service에서 중복호출하는 메서드 순수함수로 분리 및 테스트코드 추가
  server/src/common/utils/player.utils.ts
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

refactor(be): play.service, round.service에 중복된 플레이어를 map으로 변환하는 로직 공통 유틸함수로 분리하여 map을 계속 생성하지 않게 개선
  server/src/common/utils/player.utils.ts
  server/src/play/play.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(be): 채팅 관련 상수 및 타입 정의
  client/src/features/chat/model/types.ts
  server/src/common/constants/error-code.ts
  server/src/common/constants/index.ts
Due: client-lint, client-format, server-lint, server-format

refactor(fe): 오타 수정
  client/src/shared/config/sound/index.ts
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

fix(fe): 바로 대기실로 들어왔을 때 play 되는 문제 수정
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

fix(be): joinRoom 시 동시성 문제 해결
  server/src/game/game.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

remove(be): room:metadatat 중복호출 제거
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(be): chat 모듈 구현
  server/src/chat/chat.module.ts
Due: server-lint, server-format

feat(be): app모듈에 chat 모듈 등록
  server/src/app.module.ts
Due: server-lint, server-format

fix(be): 타입단언 린트오류 해결
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

feat(be): 채팅 dto 구현 - zod를 활용하여 밸리데이션 - 채팅 메시지의 길이, trim, min, max, 타입 검증
  server/src/chat/dto/chat-message.dto.ts
Due: server-lint, server-format

feat(be): redis에서 채팅 데이터 캐시 서비스 로직 구현 - incr 메서드를 활용하여 RateLimit을 원자적으로 측정 - 5초안에 8개 이상을 보냈을 시, 30초안에 30개 이상을 보냈을 시 false
  server/src/redis/cache/chat-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint, server-format

comment(be): chat-cache.service ratelimit 주석 추가
  server/src/redis/cache/chat-cache.service.ts
Due: server-lint, server-format

feat(be): chat.service 로직 구현 - RateLimit 검증 - ChatMessage 전송 - 시스템 메시지 전송 및 히스토리저장 - 채팅 히스토리 조회 - 채팅 히스토리 삭제
  server/src/chat/chat.service.ts
Due: server-lint, server-format

feat(be): chat.gateway 구현 - 게이트웨이에서 밸리데이션 및 에러 핸들링 - 메시지 내용 언노운 타입 + zod 런타임 검증
  server/src/chat/chat.gateway.ts
Due: server-lint, server-format

feat(be): 채팅 모듈 게임 모듈에 등록 및 게임 게이트웨이 등록 - 게임 중 일어난 이벤트를 채팅 이벤트로 간주하여 브로드 캐스트합니다
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

refactor(fe): 인풋에 입력 시 맥 환경에서 한글이 끊기는 문제 개선
  client/src/shared/ui/Input.tsx
Due: client-lint, client-format

lint: 인풋 린트 오류 수정
  client/src/shared/ui/Input.tsx
Due: client-lint, client-format

feat(fe): 메시지를 너무 빠르게 보낼 시 대기시간을 명시적으로 오류 메시지로 전송하게 구현
  server/src/chat/chat.service.ts
  server/src/redis/cache/chat-cache.service.ts
Due: server-lint, server-format

feat(be): xss 방지를 위한 검증 구현 - 닉네임 입력시 변환하여 저장 - 채팅에서 스크립트 입력 시 변환하여 레디스에 저장
  server/src/chat/dto/chat-message.dto.ts
  server/src/common/utils/sanitize.spec.ts
  server/src/common/utils/sanitize.ts
  server/src/game/game.gateway.ts
Due: server-lint, server-format

feat(be): 모든 사용자 나갈 시 캐시 데이터 삭제
  server/src/game/game.gateway.ts
Due: server-lint, server-format

fix(fe): import 경로 수정
  client/src/features/practice/ui/Practice.tsx
  client/src/features/waitingRoomActions/ui/WaitingRoomOverlay.tsx
Due: client-lint, client-format

fix(fe): import 경로 수정
  client/src/features/practice/ui/Practice.stories.tsx
Due: client-lint, client-format

fix(fe): practice 스토리북 mockstroke로 수정
  client/src/features/practice/ui/Practice.stories.tsx
Due: client-lint, client-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
