Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    client-format:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
    server-lint:
      root: "server/"
      glob: "*.ts"
      run: npx eslint --fix {staged_files}

fix: 충돌 해결 중 발생한 오타 수정
  server/src/app.module.ts
Due: server-lint

feat(be): 게임에 참여하기 기능 일부 구현
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
Due: server-lint

remove: game_end 상수 오타 수정
  server/src/common/constants/index.ts
Due: server-lint

remove: cors_origin 오타 수정
  server/.env.example
Due: none

feat(be): 게임 메타데이터 브로드캐스트 기능 구현
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint

feat(fe): 캔버스 기본 설정 상수 추가
  client/src/shared/config/canvas/index.ts
  client/src/shared/config/index.ts
Due: client-lint, client-format

feat(fe): 캔버스 초기화 훅 구현
  client/src/shared/model/useCanvasSetup.ts
Due: client-lint, client-format

feat(fe): 마우스 이벤트 기반 그리기 훅 구현
  client/src/features/canvasDrawing/model/useDrawing.ts
Due: client-lint, client-format

refactor(fe): 이름만 다른 canvasDrawing과 drawingCanvas를 하나로 통합
  client/src/features/drawingCanvas/model/useDrawing.ts
Due: client-lint, client-format

style: env example에 url 추가
  client/.env.example
Due: none

chore(be): 타입스크립트 설정 strict로 변경
  server/tsconfig.json
Due: none

chore: ci할 때 be도 포맷팅 검사하도록 수정
  .github/workflows/ci.yml
  .gitignore
  server/package.json
Due: none

feat(be): 그림 그리기 단계에서 대기 리스트에 추가하는 기능 구현
  server/src/common/constants/index.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/redis/cache/room-waitlist.service.ts
  server/src/redis/redis.module.ts
Due: server-lint

refactor(be): strict모드에 위반되는 포맷팅 수정 - 모든 dto에 ! (definite assignment assertion) 설정
  server/src/game/dto/room-metadata.dto.ts
  server/src/game/dto/room-settings.dto.ts
  server/src/game/dto/room-start.dto.ts
  server/src/game/dto/user-join.dto.ts
  server/src/game/game.gateway.ts
  server/src/play/dto/room-leaderboard.dto.ts
  server/src/play/dto/user-drawing.dto.ts
  server/src/play/dto/user-score.dto.ts
  server/src/round/dto/room-game-end.dto.ts
  server/src/round/dto/room-prompt.dto.ts
  server/src/round/dto/room-round-end.dto.ts
  server/src/round/dto/room-timer.dto.ts
Due: server-lint

feat(be): 예외처리 수정
  server/src/common/exceptions/websocket-exception.filter.ts
  server/src/common/exceptions/websocket-exception.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/play/play.gateway.ts
Due: server-lint

refactor(fe): useDrawing → useMouseDrawing으로 이름 변경 및 캔버스 초기화 로직 분리
  client/src/features/drawingCanvas-new/model/useMouseDrawing.ts
Due: client-lint, client-format

chore(be): 제시 그림 데이터 샘플 추가
  server/data/promptStrokes.json
Due: none

feat(be): 웹소켓 연결이 끊어지면 게임 방 정보에서 삭제하는 기능 구현
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/redis/cache/player-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint

refactor(be): createRoom 상수 사용
  server/src/game/game.service.ts
Due: server-lint

refactor(be): 기본 게임 설정 값 수정
  server/src/game/game.service.ts
Due: server-lint

feat(be): 플레이어가 나가면, 새로운 메타데이터를 브로드캐스트
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint

feat: 최종 결과 페이지 UI 구현
  client/src/app/config/router/index.tsx
  client/src/entities/gameResult/index.ts
  client/src/entities/gameResult/model/index.ts
  client/src/entities/gameResult/model/types.ts
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
  client/src/entities/gameResult/ui/index.ts
  client/src/pages/game/Game.tsx
  client/src/pages/main/Main.tsx
  client/src/pages/main/index.ts
  client/src/shared/config/titles/index.ts
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

style: .env.example에 API 구성 추가
  client/.env.example
Due: none

feat(be): 방생성 API 명세에 맞게 DTO 설정
  server/src/game/dto/create-room.dto.ts
Due: server-lint

chore(fe): vitest alias 설정 - @/ 인식할 수 있게 vite.config.ts 수정
  client/vitest.config.ts
Due: client-lint, client-format

refactor(be): 방 생성 서비스 로직 dto 반영 - api 명세에 따른 dto 반영
  server/src/game/game.service.ts
Due: server-lint

refactor(be): api 명세에 맞게 방생성 컨트롤러 개선
  server/src/game/game.controller.ts
Due: server-lint

test(be): 방 생성 컨트롤러에 대한 단위 테스트 추가
  server/src/game/game.controller.spec.ts
Due: server-lint

fix(be): 게임 방 캐시 서비스에서 phase 타입 수정 및 package.json에 moduleNameMapper 추가
  server/package.json
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

feat(be): fetchJson 함수 및 API 호출을 위한 fetchClient 모듈 추가
  client/src/shared/api/rest/fetchClient.ts
  client/src/shared/api/rest/index.ts
Due: client-lint, client-format

feat(fe): 방 생성 API를 위한 createRoom 함수 추가
  client/src/features/roomSettings/api/createRoom.ts
Due: client-lint, client-format

test(fe): 방 생성 API에 대한 단위 테스트 추가
  client/src/features/roomSettings/api/createRoom.test.ts
  client/src/features/roomSettings/index.ts
Due: client-lint, client-format

refactor(fe): global.fetch를 globalThis.fetch로 변경 및 타입 캐스팅 수정
  client/src/features/roomSettings/api/createRoom.test.ts
Due: client-lint, client-format

refactor(fe): 방 설정 인터페이스의 속성 이름 변경 및 기본값 명세에 맞게 수정
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

feat(fe): 방 생성 API 호출을 위한 createRoom 함수 통합 및 설정 완료 핸들러 수정
  client/src/pages/main/Landingpage.tsx
Due: client-lint, client-format

test(fe): 랜딩페이지에서 모달 오픈 후 방 생성까지의 플로우 통합 테스트 추가 - "방 만들기" 클릭 시 방 설정 모달을 표시한다 - 올바른 설정으로 방 생성 API를 호출한다 - 방 생성 API 에러를 처리한다 - 방 생성 성공 후 설정 모달을 닫는다
  client/src/pages/main/Landingpage.test.tsx
Due: client-lint, client-format

style(fe): createRoom.ts 및 index.ts 파일의 끝에 개행 추가 포맷팅 오류 수정
  client/src/features/roomSettings/api/createRoom.ts
  client/src/shared/api/rest/index.ts
Due: client-lint, client-format

fix(fe): api 명세에 맞게 게임 세팅 관련 변수명 변경 - GameSettingsCard.tsx, WaitingRoom.tsx 수정 player -> maxPlayers rounds -> totalRounds timeLimit -> drawingTime
  client/src/entities/gameSettings/ui/GameSettingsCard.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix(fe): 방 설정 모달의 기본 시간 설정을 90초에서 15초로 수정
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

refactor(fe): 유사도 계산로직 features/로 이동
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/lib/geometry/convexHall.ts
  client/src/features/similarity/lib/geometry/strokeGeometry.ts
  client/src/features/similarity/lib/index.ts
  client/src/features/similarity/lib/strokeSimilarity/calculateGreedyStrokeMatchScore.ts
  client/src/features/similarity/lib/strokeSimilarity/comparePairwiseStrokeSimilarity.ts
  client/src/features/similarity/lib/utils/math.ts
  client/src/features/similarity/lib/utils/normalizeStrokes.ts
Due: client-lint, client-format
