Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

fix(be): Grace Period Key 저장 구조 변경
  server/src/game/game.gateway.ts
  server/src/game/player.service.ts
  server/src/redis/cache/grace-period-cache.service.ts
  server/src/redis/redis-keys.ts
Due: server-lint, server-format

fix(be): 타이핑 수정
  server/src/lifecycle/lifecycle.module.ts
  server/src/lifecycle/lifecycle.service.ts
  server/src/main.ts
Due: server-lint, server-format

feat(be): 서버 셧다운 시작하면 로그 남기도록 추가
  server/src/lifecycle/lifecycle.service.ts
Due: server-lint, server-format

refactor(be): 플레이어 - 소켓 데이터 추가로 메소드 구분을 위한 이름 변경
  server/src/chat/chat.service.ts
  server/src/game/player.service.spec.ts
  server/src/game/player.service.ts
  server/src/redis/cache/player-cache.service.ts
Due: server-lint, server-format

fix(be): 강제퇴장 시 플레이어 소켓 데이터 삭제
  server/src/game/player.service.ts
Due: server-lint, server-format

fix(be): 플레이어 세션 복구 개선
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
Due: server-lint, server-format

test(be): player.service.spec을 최신 캐시/GracePeriod 시그니처에 맞게 정리
  server/src/game/player.service.spec.ts
Due: server-lint, server-format

fix(be): socketId가 변경되었으면, 이전 socketId 플레이어만 삭제
  server/src/game/game.gateway.ts
  server/src/game/player.service.ts
Due: server-lint, server-format

fix(be): 플레이어 퇴장/강퇴 정리 및 세션 복구 일관성 강화
  server/src/game/game.gateway.ts
  server/src/game/player.service.spec.ts
  server/src/game/player.service.ts
  server/src/redis/cache/player-cache.service.ts
Due: server-lint, server-format

refactor(fe): useFlipAnimation에서 불필요한 useCallback 제거
  client/src/widgets/roundStanding/model/useFlipAnimation.ts
Due: client-lint, client-format

fix(ci): Windows에서 lefthook commit-msg 훅 bash 문법 오류 수정
  .lefthook/commit-msg/check-convention.sh
  lefthook.yml
Due: none

refactor(be): liftcycleService -> lifecycleService 오타 수정
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(be): 명시적으로 server.close() 실행
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(be): beforeApplicationShutdown에 로그 추가
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(fe): Zustand 구독 범위 최소화 VoulmeButton, PageBackground 메모이제이션 ChatInput 비제어 컴포넌트 전환
  client/src/app/ui/AppLayout.tsx
  client/src/features/chat/model/useChatActions.ts
  client/src/features/chat/ui/ChatBox.stories.tsx
  client/src/features/chat/ui/ChatBox.tsx
  client/src/features/chat/ui/ChatInput.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/socket/model/useChatEvents.ts
  client/src/features/socket/model/useSocketConnection.ts
  client/src/features/volume/ui/VolumeButton.tsx
  client/src/shared/ui/Input.tsx
  client/src/shared/ui/PageBackground.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
  client/src/widgets/waiting/model/useWaitingActions.ts
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

fix: 불필요 console 제거
  client/src/app/ui/AppLayout.tsx
  client/src/features/chat/ui/ChatBox.stories.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

refactor(test): useToastStore 모의 구현 방식 변경
  client/src/widgets/waiting/model/useWaitingActions.test.ts
Due: client-lint, client-format

fix(fe): forwardRef 제거 => ref props 전달로 변경
  client/src/shared/ui/Input.tsx
Due: client-lint, client-format

fix(fe): render check console 제거
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

fix(fe): 중복 import 제거
  client/src/features/volume/ui/VolumeButton.tsx
Due: client-lint, client-format

fix(fe): 언마운트시 chatbox cleanup 함수 추가
  client/src/features/chat/ui/ChatBox.stories.tsx
Due: client-lint, client-format

fix(fe): render check console 제거
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

refactor(similarity): 유사도로직 공통 패키지로 분리 - 토스앱또는 디스코드 앱에서도 활용할 수 있게 분리 - 루트의 패키지에서 다른 클라이언트또는 서버에서 받아서 사용할 수 있음
  client/src/entities/similarity/ui/MySimilarityDetail.tsx
  client/src/features/similarity/index.ts
  client/src/features/similarity/model/similarity.ts
  packages/similarity/package.json
  packages/similarity/src/config/similarityConfig.ts
  packages/similarity/src/index.ts
  packages/similarity/src/lib/final.ts
  packages/similarity/src/lib/geometry.ts
  packages/similarity/src/lib/math.ts
  packages/similarity/src/lib/penalty.ts
  packages/similarity/src/lib/shape.sim.ts
  packages/similarity/src/lib/stroke.sim.ts
  packages/similarity/src/model/preprocessedStrokeData.ts
  packages/similarity/tsconfig.json
Due: client-lint, client-format

refactor: 웹 클라이언트 공유 패키지 경로 수정
  client/package.json
  client/tsconfig.app.json
  client/vite.config.ts
  client/vitest.config.ts
Due: client-lint, client-format

refactor: client vitest 경로설정
  client/vitest.config.ts
Due: client-lint, client-format

feat(fe): toss-client 웹뷰 환경설정 - 기본적인 앱인토스 리액트 웹뷰 환경설정
  .lefthook/commit-msg/check-convention.sh
  client-toss/eslint.config.js
  client-toss/granite.config.ts
  client-toss/index.html
  client-toss/package.json
  client-toss/src/App.tsx
  client-toss/src/index.css
  client-toss/src/index.tsx
  client-toss/src/test/setup.ts
  client-toss/tsconfig.app.json
  client-toss/tsconfig.json
  client-toss/tsconfig.node.json
  client-toss/vite.config.ts
  client-toss/vitest.config.ts
Due: none

feat: toss 공유타입및 스키마 패키지 설정
  packages/shared/src/schemas/base.schema.ts
  packages/shared/src/types/index.ts
  packages/toss-shared/package.json
  packages/toss-shared/src/index.ts
  packages/toss-shared/src/schemas/game.schema.ts
  packages/toss-shared/tsconfig.json
Due: none

feat(be): 앱인토스 서버 기본설정
  server-toss/eslint.config.mjs
  server-toss/nest-cli.json
  server-toss/package.json
  server-toss/src/app.module.ts
  server-toss/src/main.ts
  server-toss/tsconfig.build.json
  server-toss/tsconfig.json
  server-toss/tsconfig.paths.json
Due: none

feat: pnpm workspace 패키지 등록 및 설정
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: pnpm-lock root 의존성 yaml 제거 - 원인: 루트 package.json이 새로 추가, 그러나 pnpm-lock.yaml과 동기화가 안 됨 - 해결: pnpm install 실행 후 lockfile 커밋
  pnpm-lock.yaml
Due: none

fix(be): 도커 컴포즈 파일 수정
  deploy/compose.blue-green.yml
Due: none

remove(be): 사용하지 않는 compose 파일 삭제
  deploy/compose.yml
Due: none

refactor(fe): package.json의 dev 스크립트에서 IP를 자동으로 주입하도록 수정
  client-toss/granite.config.ts
  client-toss/package.json
Due: none

fix: Cross-playform 호환성 처리
  client-toss/package.json
  client-toss/scripts/dev.js
Due: none

refactor: silmilarity와 웹shared 패키지 간의 의존성 단절 - 토스앱에서 불필요한 빌드를 없애기위해 유사도 패키지 내부에 타입을 설정 - rimraf 의존성 설정
  packages/shared/package.json
  packages/similarity/package.json
  packages/similarity/src/index.ts
  packages/similarity/src/lib/final.ts
  packages/similarity/src/lib/geometry.ts
  packages/similarity/src/lib/penalty.ts
  packages/similarity/src/lib/stroke.sim.ts
  packages/similarity/src/model/preprocessedStrokeData.ts
  packages/similarity/src/types/index.ts
  pnpm-lock.yaml
  server-toss/package.json
  server-toss/tsconfig.build.json
  server-toss/tsconfig.json
Due: none

chore(be): 레디스 alpine 이미지로 수정
  infra/deploy/db/compose.redis.yml
Due: none

chore(be): 도커 네트워크 이름 설정
  deploy/compose.blue-green.yml
Due: none

chore: check-convention
  .lefthook/commit-msg/check-convention.sh
Due: none

chore(be): 레디스 password 설정 추가
  infra/deploy/db/compose.redis.yml
  server/src/redis/redis.service.ts
Due: server-lint, server-format

fix(be): 레디스, NestJS 서버를 동일한 도커 네트워크로 설정
  deploy/compose.blue-green.yml
  infra/deploy/db/compose.redis.yml
Due: none

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
