Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    client-format:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
    server-lint:
      root: "server/"
      glob: "*.ts"
      run: npx eslint --fix {staged_files}

refactor(be): 디버깅 코드 삭제
  server/src/play/play.gateway.ts
  server/src/play/play.service.ts
Due: server-lint

test(be): 테스트 코드 Mocking 설정
  server/src/game/game.service.spec.ts
  server/src/play/play.service.spec.ts
Due: server-lint

refactor(be): 키 생성 함수 추출
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

feat(be): 플레이어 리스트 저장 기능 구현
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

feat(be): 기존 레디스 코드를 새로운 코드로 전환
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

feat: sentry 연결 테스트용 함수 생성
  client/src/pages/main/Main.tsx
Due: client-lint, client-format

fix(be): joinRoom, leaveRoom 코드 수정
  server/src/game/game.service.ts
Due: server-lint

type(fe): 게임룸 타입 정의 추가 - 게임 상태 관리를 위한 타입 정의
  client/src/entities/gameRoom/model/index.ts
  client/src/entities/gameRoom/model/types.ts
Due: client-lint, client-format

type(fe): 플레이어 타입 정의 - api 명세와 일치하게 구성
  client/src/entities/player/model/index.ts
  client/src/entities/player/model/types.ts
Due: client-lint, client-format

type(fe): 게임 결과 모델에서 PlayerResult 및 GameResultData 제거하고 FinalResult로 통합
  client/src/entities/gameResult/index.ts
  client/src/entities/gameResult/model/index.ts
  client/src/entities/gameResult/model/types.ts
Due: client-lint, client-format

feat(be): 전체적인 게임 흐름을 phase 변경하는 방식으로 수정
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/round/round.gateway.ts
  server/src/round/round.module.ts
  server/src/round/round.service.ts
Due: server-lint

fix(be): 방장 권한 넘기는 기능 수정
  server/src/game/game.service.ts
Due: server-lint

feat(fe): 게임룸 상태 관리 및 소켓 연결을 위한 zustand 스토어 - 게임룸의 상태를 관리하고, 소켓 연결을 통해 실시간 업데이트를 처리하는 zustand 스토어를 구현 - phase, prompt 등의 정보를 서버로부터 받아와 상태를 업데이트한다
  client/src/entities/gameResult/index.ts
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

type(fe): RoundResult 타입 정의
  client/src/entities/roundResult/index.ts
  client/src/entities/roundResult/model/index.ts
  client/src/entities/roundResult/model/types.ts
Due: client-lint, client-format

style(fe): 불필요한 공백 제거 및 useGameSocket 내보내기 추가
  client/src/entities/gameResult/index.ts
  client/src/entities/gameRoom/model/index.ts
  client/src/entities/roundResult/index.ts
  client/src/features/socket/model/index.ts
Due: client-lint, client-format

test(be): game service 테스트 코드 의존성 수정
  server/src/game/game.service.spec.ts
Due: server-lint

feat(fe): 게임 소켓 연결 및 상태 관리 기능 추가 - 게임 소켓 연결을 설정하고 관리하는 기능을 구현 - 소켓 값에 따라 전역상태 업데이트
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

feat(fe): 대기실 시작 및 설정 버튼 방장만 사용가능하도록 구현
  client/src/features/waitingRoomActions/ui/WaitingRoomActions.tsx
  client/src/shared/ui/button/CommonBtn.tsx
Due: client-lint, client-format

lint(fe): 린트 수정 맨 밑 개행 추가
  client/src/shared/api/socket/index.ts
Due: client-lint, client-format

fix(fe): Game 컴포넌트 임포트 경로 수정 및 라우트 경로 변경 - 게임방 생성 후 게임방으로 바로 이동하도록 라우트 경로 수정
  client/src/app/config/router/index.tsx
Due: client-lint, client-format

feat(fe): 게임 방 생성 후 대기실 이동 로직 구현 - 대기실에 입장한 후 소켓에 연결됨 - 메인 페이지에서 방을 생성시 game/:roomId 경로로 이동
  client/src/pages/game/Game.tsx
  client/src/pages/main/Main.tsx
Due: client-lint, client-format

feat(fe): 대기실에서 Zustand를 사용하여 플레이어 및 설정 데이터 가져오기 구현 - 2인 이상 플레이어가 있을 때 게임 시작 버튼 활성화 - 대기실 초대버튼 클릭 시 url 복사 - 하드코딩된 값을 Zustand 상태로 대체
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

style(fe): 대기실 코드 복사 컴포넌트에서 ROOM ID 텍스트를 친구 초대 메시지로 변경
  client/src/features/roomCode/ui/RoomCodeCopy.tsx
Due: client-lint, client-format

feat(fe): 게임 설정 카드 및 플레이어 카드의 타입 수정 및 상태 표시 개선 - api 명세와 통일한 타입 적용 - 플레이어 카드에 상태 표시 부분 대기중으로 고정(따로 준비상태를 관리하지 않기 때문)
  client/src/entities/gameSettings/ui/GameSettingsCard.tsx
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

feat(fe): 게임 결과 위젯 목데이터 타입 변경
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

feat(fe):현재 유저 확인 훅 구현
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

fix(fe): 플레이어 타입을 올바른 경로에서 가져오도록 수정
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

feat(fe): 플레이어 카드 상태 표시 - 방장일 경우 왕관 - 현재 접속한 유저는 파랑색 테두리 및 배경
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
Due: client-lint, client-format

feat(fe): 게임 결과 순위에서 플레이어 타입을 FinalResult로 변경하고 현재 유저 확인 로직 추가
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
Due: client-lint, client-format

feat(be): PR 64의 코드 이동
  server/src/game/game.gateway.ts
  server/src/game/game.service.spec.ts
  server/src/round/round.service.spec.ts
Due: server-lint

feat(be): timer cache service 구현
  server/src/redis/cache/timer-cache.service.ts
  server/src/timer/timer.service.ts
Due: server-lint

refactor(be): getPlayers 삭제 -> getAllPlayers 사용
  server/src/play/play.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

deploy: 레디스로 헬스체크하게 ci 설정 변경 - 레디스에서 헬스체크하면 서버가 띄워져있다는 것이기 때문에 ci에서 레디스 헬스체크로 변경
  .github/workflows/deploy-backend.yml
Due: none

feat(be): 게임 흐름 로직에 타이머 설정 추가
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/redis/cache/timer-cache.service.ts
  server/src/redis/redis.module.ts
  server/src/round/round.gateway.ts
  server/src/round/round.module.ts
  server/src/timer/timer.gateway.ts
  server/src/timer/timer.module.ts
  server/src/timer/timer.service.ts
Due: server-lint

feat(fe): 센트리 콘솔 출력 및 http 통신 요청 url 추가
  client/src/shared/lib/sentry/index.ts
Due: client-lint, client-format

fix(be): timer service에서 웹소켓 주입 삭제
  server/src/timer/timer.service.ts
Due: server-lint

feat(fe): 콘솔 error, warn 센트리 캡쳐
  client/src/shared/lib/sentry/index.ts
Due: client-lint, client-format

fix(fe): 캔버스 초기화 로직을 clearRect에서 fillRect로 변경하여 흰 배경으로 초기화
  client/src/features/drawingCanvas/lib/drawStrokesOnCanvas.ts
Due: client-lint, client-format

fix(fe): 캔버스 이중 렌더링 문제 해결
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
Due: client-lint, client-format

refactor(fe): fsd 규칙에 맞게 임시 색상 맵 폴더명을 config로 수정
  client/src/features/drawingCanvas/config/colors.ts
Due: client-lint, client-format
