Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

lefthook.yml:

output:
  - summary
  - execution

pre-commit:
  parallel: true
  follow: true
  commands:
    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    client-format:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
    server-lint:
      root: "server/"
      glob: "*.ts"
      run: npx eslint --fix {staged_files}
    server-format:
      root: "server/"
      glob: "*.ts"
      run: npx prettier --write {staged_files}

# Commit message 검증
commit-msg:
  commands:
    check-convention:
      run: |
        MSG_FILE="{1}"
        MSG=$(cat "$MSG_FILE")

        # 빈 메시지 무시
        if [ -z "$MSG" ]; then
          exit 0
        fi

        # Merge 커밋 무시
        if echo "$MSG" | grep -q "^Merge"; then
          exit 0
        fi

        # 커밋 메시지 형식 검사: type(scope): message 또는 type: message
        # 허용되는 타입 (! 접두사 포함)
        if ! echo "$MSG" | grep -qE "^(!BREAKING CHANGE|!HOTFIX|feat|fix|style|design|refactor|docs|chore|lint|deploy|test|rename|remove|type|comment|build|ci|perf)(\([a-z]+\))?:\s.+"; then
          echo "❌ 커밋 메시지 형식이 올바르지 않습니다!"
          echo ""
          echo "올바른 형식: type(scope): message"
          echo "scope는 선택사항입니다 (fe, be 등)"
          echo ""
          echo "허용되는 타입:"
          echo "  - feat: 새로운 기능 추가"
          echo "  - fix: 버그 수정"
          echo "  - style: 코드 포맷 변경"
          echo "  - design: CSS 등 UI 변경"
          echo "  - refactor: 코드 리팩토링"
          echo "  - docs: 문서 수정"
          echo "  - chore: 빌드/설정 작업"
          echo "  - lint: ESLint 설정/에러 수정"
          echo "  - deploy: 빌드 및 배포 작업"
          echo "  - test: 테스트 추가/수정"
          echo "  - rename: 파일/폴더명 변경"
          echo "  - remove: 파일 삭제"
          echo "  - type: 타입 정의 수정"
          echo "  - comment: 주석 추가/변경"
          echo "  - build: 빌드 시스템 변경"
          echo "  - ci: CI 설정 변경"
          echo "  - perf: 성능 개선"
          echo "  - !HOTFIX: 긴급 버그 수정"
          echo "  - !BREAKING CHANGE: 큰 API 변경"
          echo ""
          echo "예시: feat(fe): 회원가입 이메일 인증 추가"
          echo "예시: fix: 로그인 리다이렉트 오류 수정"
          exit 1
        fi

fix(fe): 광고 Zone z-index 변경
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

feat(fe): boostAD 광고 ZONE 추가
  client/index.html
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

feat(fe): 현재 사용자 카드에 파란색 스타일 적용
  client/src/entities/ranking/ui/rankingCard/RankingCard.tsx
Due: client-lint, client-format

fix(fe): 광고 Zone 위치 변경
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

fix(fe): 광고 Zone 위치 추가
  client/index.html
Due: none

fix(fe): 광고 Zone z-index 변경
  client/src/shared/ui/BaseModal.tsx
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

refactor(fe): RoundStanding에서 GameHeader로 통일
  client/src/widgets/roundStanding/ui/RoundStanding.tsx
Due: client-lint, client-format

fix(fe): baseModal props 변경
  client/src/shared/ui/BaseModal.tsx
Due: client-lint, client-format

refactor(fe): 게임 종료 페이즈에서 pts -> 점으로 점수 표기 변경
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
Due: client-lint, client-format

fix(fe): WAITING PHASE 광고 제거
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

design(fe): 스탠딩페이즈의 row에 들어가는 점수 글자 크기 변경
  client/src/entities/ranking/ui/StandingRow/StandingRow.tsx
Due: client-lint, client-format

fix(fe): RoundStanding 등수 메시지 영역 공간 미리 확보
  client/src/widgets/roundStanding/ui/RoundStanding.tsx
Due: client-lint, client-format

chore(be): promp-client 추가
  server/package.json
  server/pnpm-lock.yaml
Due: none

feat(be): 메트릭 모듈 구현
  server/src/metric/metric.controller.ts
  server/src/metric/metric.module.ts
  server/src/metric/metric.service.ts
Due: server-lint, server-format

feat(be): 메트릭 인터셉터 구현
  server/src/common/interceptors/metric.interceptor.ts
Due: server-lint, server-format

fix(be): 응답시간 메트릭이 두 번 기록되는 것을 수정
  server/src/common/interceptors/metric.interceptor.ts
Due: server-lint, server-format

feat(be): 이벤트 발생 횟수 기록에 이벤트 성공 여부 라벨 추가
  server/src/common/interceptors/metric.interceptor.ts
  server/src/metric/metric.service.ts
Due: server-lint, server-format

feat(be): 인터셉터 적용
  server/src/app.module.ts
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/play/play.gateway.ts
  server/src/play/play.module.ts
Due: server-lint, server-format

fix(be): prom-client 기본 수집 메트릭 prefix 삭제
  server/src/metric/metric.service.ts
Due: server-lint, server-format

chore(be): 모니터링 서버 파일 추가
  infra/deploy/monitoring/compose.yml
  infra/deploy/monitoring/prometheus/prometheus.yml
  infra/deploy/monitoring/prometheus/sd/target_nestjs.json
  infra/deploy/monitoring/prometheus/sd/target_node.json
Due: none

chore(be): target -> targets 로 수정
  infra/deploy/monitoring/prometheus/sd/target_nestjs.json
Due: none

chore(be): 컴포즈 이름 수정
  infra/deploy/monitoring/compose.yml
Due: none

hotfix(fe): 참여자 수 100명으로 변경
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

fix(be): 메트릭 중복 등록 수정
  server/src/metric/metric.service.ts
Due: server-lint, server-format

feat(be): 대기열 캐시 서비스 메서드 추가
  server/src/game/game.service.ts
  server/src/redis/cache/waitlist-cache.service.ts
Due: server-lint, server-format

feat(be): 입장 시 모든 유저가 대기열을 거치도록 수정
  server/src/game/game.service.ts
Due: server-lint, server-format

feat(be): 중도참여 유저에게 데이터 동기화를 위해 phase별 data sync 기능 추가
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

test(fe): Storybook용 Zustand mock store 데코레이터 추가
  client/src/test/mocks/mockGameStore.tsx
  client/src/test/mocks/mockStrokes.ts
Due: client-lint, client-format

docs(fe): Main widget 스토리 추가
  client/src/widgets/main/ui/Main.stories.tsx
Due: client-lint, client-format

docs(fe): Waiting widget 스토리 추가
  client/src/widgets/waiting/ui/Waiting.stories.tsx
Due: client-lint, client-format

docs(fe): Prompt widget 스토리 추가
  client/src/widgets/prompt/ui/Prompt.stories.tsx
Due: client-lint, client-format

docs(fe): Drawing widget 스토리 추가
  client/src/widgets/drawing/ui/Drawing.stories.tsx
Due: client-lint, client-format

docs(fe): RoundReplay widget 스토리 추가
  client/src/widgets/roundReplay/ui/RoundReplay.stories.tsx
Due: client-lint, client-format

docs(fe): RoundStanding widget 스토리 추가
  client/src/widgets/roundStanding/ui/RoundStanding.stories.tsx
Due: client-lint, client-format

docs(fe): GameEnd widget 스토리 추가
  client/src/widgets/gameEnd/ui/GameEnd.stories.tsx
Due: client-lint, client-format

ci(fe): Chromatic workflow에 PR 코멘트 기능 추가
  .github/workflows/chromatic.yml
Due: none

test(be): 부하테스트 코드 작성
  test/.gitignore
  test/multi-room/.env.example
  test/multi-room/load.test.yml
  test/multi-room/processor.js
  test/package.json
  test/single-room/.env.example
  test/single-room/load.test.yml
  test/single-room/processor.js
Due: none

test: 부하 테스트 코드 추가
  test/.env.example
  test/.gitignore
  test/load.test.yml
  test/package.json
  test/pnpm-lock.yaml
  test/processor.js
Due: none
