Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

lefthook.yml:

output:
  - summary
  - execution

pre-commit:
  parallel: true
  follow: true
  commands:
    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    client-format:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
    server-lint:
      root: "server/"
      glob: "*.ts"
      run: npx eslint --fix {staged_files}
    server-format:
      root: "server/"
      glob: "*.ts"
      run: npx prettier --write {staged_files}

# Commit message 검증
commit-msg:
  commands:
    check-convention:
      run: |
        MSG_FILE="{1}"
        MSG=$(cat "$MSG_FILE")

        # 빈 메시지 무시
        if [ -z "$MSG" ]; then
          exit 0
        fi

        # Merge 커밋 무시
        if echo "$MSG" | grep -q "^Merge"; then
          exit 0
        fi

        # 커밋 메시지 형식 검사: type(scope): message 또는 type: message
        # 허용되는 타입 (! 접두사 포함)
        if ! echo "$MSG" | grep -qE "^(!BREAKING CHANGE|!HOTFIX|feat|fix|style|design|refactor|docs|chore|lint|deploy|test|rename|remove|type|comment|build|ci|perf)(\([a-z]+\))?:\s.+"; then
          echo "❌ 커밋 메시지 형식이 올바르지 않습니다!"
          echo ""
          echo "올바른 형식: type(scope): message"
          echo "scope는 선택사항입니다 (fe, be 등)"
          echo ""
          echo "허용되는 타입:"
          echo "  - feat: 새로운 기능 추가"
          echo "  - fix: 버그 수정"
          echo "  - style: 코드 포맷 변경"
          echo "  - design: CSS 등 UI 변경"
          echo "  - refactor: 코드 리팩토링"
          echo "  - docs: 문서 수정"
          echo "  - chore: 빌드/설정 작업"
          echo "  - lint: ESLint 설정/에러 수정"
          echo "  - deploy: 빌드 및 배포 작업"
          echo "  - test: 테스트 추가/수정"
          echo "  - rename: 파일/폴더명 변경"
          echo "  - remove: 파일 삭제"
          echo "  - type: 타입 정의 수정"
          echo "  - comment: 주석 추가/변경"
          echo "  - build: 빌드 시스템 변경"
          echo "  - ci: CI 설정 변경"
          echo "  - perf: 성능 개선"
          echo "  - !HOTFIX: 긴급 버그 수정"
          echo "  - !BREAKING CHANGE: 큰 API 변경"
          echo ""
          echo "예시: feat(fe): 회원가입 이메일 인증 추가"
          echo "예시: fix: 로그인 리다이렉트 오류 수정"
          exit 1
        fi

fix(be): updateGameSetting 리턴값 호출 에러 수정
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(be): 프롬프트 서비스 추가
  server/src/app.module.ts
  server/src/game/game.module.ts
  server/src/game/game.service.ts
  server/src/prompt/prompt.module.ts
  server/src/prompt/prompt.service.ts
  server/src/round/round.module.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

refactor(fe): DrawingReplayCanvas에서 불필요한 스케일링 제거
  client/src/features/replayingCanvas/lib/animateDrawing.ts
Due: client-lint, client-format

test(fe): animateDrawing 테스트에서 스케일링 관련 코드 제거
  client/src/features/replayingCanvas/lib/animateDrawing.test.ts
Due: client-lint, client-format

feat(be): 프롬프트 완전 랜덤 선택 기능 구현
  server/src/common/types/game-room.types.ts
  server/src/game/game.service.ts
  server/src/prompt/prompt.module.ts
  server/src/prompt/prompt.service.ts
  server/src/redis/cache/game-room-cache.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

test(be): mockPromptService 추가
  server/src/game/game.service.spec.ts
  server/src/redis/cache/game-room-cache.service.ts
  server/src/round/round.service.spec.ts
Due: server-lint, server-format

fix(be): index가 0일 때도 에러가 발생하는 버그 수정
  server/src/prompt/prompt.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

feat(be): 넷틀리파이 프리뷰 요청도 가능하게 변경
  server/src/common/config/cors.util.spec.ts
  server/src/common/config/cors.util.ts
  server/src/game/game.gateway.ts
  server/src/main.ts
  server/src/play/play.gateway.ts
  server/src/round/round.gateway.ts
  server/src/timer/timer.gateway.ts
Due: server-lint, server-format

fix(be): 환경 변수 origin 공백/빈 항목 처리
  server/src/common/config/cors.util.ts
Due: server-lint, server-format

fix(fe): Chromatic GitHub Action 최신 버전 자동업데이트 방지 위해 CLI를 v13으로 고정
  .github/workflows/chromatic.yml
Due: none

refactor(fe): NicknameInputModal 을 ProfileSettingsModal로 교체하고 모달 배경 및 뒤로가는 액션 추가 - AppLayout에서 닉네임과 프로필 둘다 검사하게 수정
  client/src/app/ui/AppLayout.tsx
  client/src/entities/profile/ui/ProfileEditor.tsx
  client/src/features/nickname/index.ts
  client/src/features/nickname/ui/NicknameInputModal.tsx
  client/src/features/profileSettings/index.ts
  client/src/features/profileSettings/ui/ProfileSettingsModal.tsx
  client/src/shared/ui/BaseModal.tsx
  client/src/shared/ui/Doodles.tsx
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

feat(fe): toast 전역상태 배열로 변경(쌓일 수 있게 수정) 및 네이밍 수정
  client/src/app/ui/appLayout/index.tsx
  client/src/features/socket/model/useGameSocket.ts
  client/src/shared/model/index.ts
  client/src/shared/model/types.ts
  client/src/shared/model/useToastStore.ts
  client/src/shared/ui/toast/Toast.tsx
Due: client-lint, client-format

refactor(fe): 모달 강제퇴장 함수 로직 통합
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

feat(be): 게임 세팅 변경 시 프롬프트 재설정 기능 구현
  server/src/game/game.service.ts
  server/src/prompt/prompt.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

fix(be): 프롬프트가 없는 경우 null 반환
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

feat(be): 강퇴 시 실제로 소켓 방에서 소켓 연결을 끊도록 수정
  server/src/game/game.gateway.ts
Due: server-lint, server-format

style(fe): 포맷팅 수정
  client/src/shared/model/types.ts
  client/src/shared/model/useToastStore.ts
Due: client-lint, client-format

fix(fe): 믹스패널 dev환경 코드 원상복구
  client/src/index.tsx
  server/src/game/game.gateway.ts
Due: client-lint, client-format, server-lint, server-format

refactor(be): 공통 예외 코드 리팩토링
  server/src/common/constants/error-code.ts
  server/src/game/game.service.ts
  server/src/play/play.service.ts
  server/src/prompt/prompt.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(fe): 볼륨 조절 컨트롤러 구현
  client/src/features/volume/index.ts
  client/src/features/volume/model/useVolumeControl.ts
  client/src/features/volume/ui/VolumeButton.tsx
  client/src/features/volume/ui/VolumeControlModal.tsx
  client/src/features/volume/ui/VolumeController.tsx
  client/src/features/volume/ui/VolumeIcon.tsx
Due: client-lint, client-format

feat(fe): 사운드 매니저 구현
  client/src/shared/lib/index.ts
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

feat(fe): 배경음, 효과음 조절 컨트롤러 분리
  client/src/features/volume/model/useVolumeControl.ts
  client/src/features/volume/ui/VolumeController.tsx
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

feat(fe): 볼륨 조절 버튼 추가
  client/src/app/ui/AppLayout.tsx
Due: client-lint, client-format

refactor(be): 사운드 리스트, 경로 상수화
  client/src/entities/timer/ui/Timer.tsx
  client/src/shared/config/sound/index.ts
  client/src/shared/lib/sound/soundManager.ts
  client/src/widgets/roundEnd/ui/RoundEnd.tsx
Due: client-lint, client-format

feat(fe): 라운드 종료 효과음 추가
  client/public/audio/roundEnd.mp3
  client/src/widgets/roundEnd/ui/RoundEnd.tsx
Due: client-lint, client-format

feat(fe): 타이머 알람 소리 추가
  client/public/audio/ticktock.mp3
  client/src/entities/timer/ui/Timer.tsx
Due: client-lint, client-format

feat(fe): 배경음악 로딩 및 재생 기능 구현
  client/.env.example
  client/src/app/ui/AppLayout.tsx
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

fix(fe): VITE_WEB_SERVER_URL 이 없는 경우 bgm 로딩 생략
  client/src/features/volume/ui/VolumeController.tsx
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

feat(fe): 사운드 파일을 웹서버로 이동
  client/public/audio/roundEnd.mp3
  client/public/audio/ticktock.mp3
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

fix(fe): 아리아 라벨 추가
  client/src/features/volume/ui/VolumeController.tsx
  client/src/shared/lib/sound/soundManager.ts
Due: client-lint, client-format

chore(fe): merge
  client/.storybook/main.ts
  client/.storybook/preview.ts
Due: client-lint, client-format

refactor(be): 에러코드 상수 적용
  server/src/common/constants/error-code.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

fix(be): 대기 상태에서만 업데이트 가능하도록 수정
  server/src/common/constants/error-code.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

fix(be): 알 수 없는 phase인 경우, 로그만 남기도록 수정
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(be): ROUND_END → ROUND_REPLAY 변경 및 ROUND_STANDING 추가
  server/src/common/constants/index.ts
Due: server-lint, server-format

refactor(be): playerMapper 생성 로직을 재사용을 위해 메서드로 분리
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(be): ROUND_STANDING 단계 처리를 위한 moveRoundStanding 메서드 추가
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(fe): 라운드 결과를 리플레이/순위 화면으로 분리하기 위한 phase 상수 추가
  client/src/shared/config/gamePhase/index.ts
  client/src/shared/config/socketEvents/index.ts
Due: client-lint, client-format

feat(fe): 라운드별 누적 순위 표시를 위한 standingResults 상태 추가
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

fix(be): 게임 종료 후 대기 상태로 변환 시 프롬프트 재설정
  server/src/round/round.service.ts
Due: server-lint, server-format
