Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

lint: 린트 오류 개선
  client/src/features/socket/model/useSocketConnection.ts
Due: client-lint, client-format

lint: 린트 오류 개선
  client/src/shared/model/useLocalStorageWatch.test.ts
Due: client-lint, client-format

feat(fe): 동적 플레이어 슬롯 레이아웃 구현
  client/src/features/playerList/model/useKickModal.ts
  client/src/features/playerList/model/useSlotHighlight.ts
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

feat(fe): e2e 테스트 시 탭간 연결 방지 기능 비활성화 - 프로덕션 환경에선 해당 기능 비활성화 - e2e 테스트 시 localhost5173으로 접속, 게임 로직 특성 상 브라우저 분할을 해도 탭관련 오류 인해 e2e 테스트에서는 해당 기능 비활성화
  client/src/shared/lib/e2eTestMode.ts
  client/src/shared/lib/tabLock.ts
  tests/e2e/fixtures.ts
Due: client-lint, client-format

feat(fe): 빈자리/잠금 슬롯 UI 컴포넌트 구현
  client/src/entities/player/index.ts
  client/src/entities/player/ui/EmptySlot.tsx
  client/src/entities/player/ui/SlotCard.tsx
Due: client-lint, client-format

style(fe): PlayerCard 상태 텍스트 크기 증가
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
Due: client-lint, client-format

refactor(fe): entities/ranking export 수정
  client/src/entities/ranking/index.ts
  client/src/entities/ranking/model/index.ts
  client/src/entities/ranking/ui/RankingCard.tsx
  client/src/entities/ranking/ui/StandingRow.tsx
  client/src/entities/ranking/ui/rankingCard/index.ts
Due: client-lint, client-format

test: e2e 테스트 코드 수정 - 게임 시작 버튼 -> 시작 버튼으로 수정 - 버튼을 찾지 못하는 문제가 있어 expect로 명시적으로 찾게 수정 - 린트 오류 개선 - e2e 작성 가이드 수정(profileId UUIDv4 명시)
  tests/e2e/e2e 테스트 작성 가이드.md
  tests/e2e/game-flow.spec.ts
  tests/e2e/game-restart.spec.ts
  tests/e2e/invite-link.spec.ts
  tests/e2e/mid-join.spec.ts
  tests/e2e/player-leave.spec.ts
Due: none

refactor(fe): entities/similarity export 수정
  client/src/entities/drawing/index.ts
  client/src/entities/drawing/lib/drawStrokesOnCanvas.ts
  client/src/entities/drawing/ui/StaticCanvas.tsx
  client/src/entities/ranking/ui/RankingCard.tsx
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/entities/roundResult/ui/PromptSection.tsx
  client/src/entities/similarity/index.ts
  client/src/entities/similarity/model/index.ts
  client/src/entities/similarity/ui/MySimilarityDetail.tsx
  client/src/entities/similarity/ui/PlayerSimilarityDetailTooltip.tsx
  client/src/entities/similarity/ui/SimilarityProgressBar.tsx
  client/src/entities/similarity/ui/progress-bar/index.ts
  client/src/features/drawingCanvas/config/colors.ts
  client/src/features/drawingCanvas/model/useColorSelection.ts
  client/src/features/drawingCanvas/model/useMouseDrawing.ts
  client/src/features/drawingCanvas/model/useStrokes.ts
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/replayingCanvas/lib/animateDrawing.test.ts
  client/src/features/replayingCanvas/lib/animateDrawing.ts
  client/src/features/replayingCanvas/model/useDrawingReplay.ts
  client/src/features/replayingCanvas/ui/DrawingReplayCanvas.tsx
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/lib/calculateGreedyStrokeMatchScore.ts
  client/src/features/similarity/lib/comparePairwiseStrokeSimilarity.ts
  client/src/features/similarity/lib/convexHullGeometry.ts
  client/src/features/similarity/lib/strokeGeometry.ts
  client/src/shared/lib/scaleStrokesToCanvas.test.ts
  client/src/shared/lib/scaleStrokesToCanvas.ts
Due: client-lint, client-format

rename(fe): PlayerCard 컴포넌트 폴더 구조 변경
  client/src/entities/player/index.ts
  client/src/entities/player/ui/PlayerCard.tsx
  client/src/entities/player/ui/playerCard/index.ts
Due: client-lint, client-format

feat(fe): 플레이어 강퇴 Mixpanel 이벤트 추가
  client/src/features/playerList/model/useKickModal.ts
  client/src/shared/config/mixpanelEvents/index.ts
Due: client-lint, client-format

feat(fe): 8명 초과 시 슬롯 잠금/해제 기능 비활성화
  client/src/entities/player/ui/SlotCard.tsx
  client/src/features/playerList/model/useSlotHighlight.ts
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

refactor(fe): features/similarity export 수정
  client/src/entities/timer/config/timer.ts
  client/src/entities/timer/index.ts
  client/src/entities/timer/ui/Timer.tsx
  client/src/features/similarity/index.ts
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/lib/calculateShapeSimilarity.ts
  client/src/features/similarity/model/index.ts
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

style(fe): prettier format 적용
  client/src/features/playerList/model/useSlotHighlight.ts
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

docs(fe): SlotCard 컴포넌트 스토리북 추가
  client/src/entities/player/ui/SlotCard.stories.tsx
Due: client-lint, client-format

docs(fe): PlayerListSection 스토리북 추가
  client/src/features/playerList/ui/PlayerListSection.stories.tsx
Due: client-lint, client-format

docs(fe): Waiting 위젯 스토리북 개선
  client/src/widgets/waiting/ui/Waiting.stories.tsx
Due: client-lint, client-format

test(fe): SlotCard 컴포넌트 테스트 추가
  client/src/entities/player/ui/SlotCard.test.tsx
Due: client-lint, client-format

test(fe): useSlotHighlight 훅 테스트 추가
  client/src/features/playerList/model/useSlotHighlight.test.ts
Due: client-lint, client-format

style(fe): 추가한 테스트 코드에 대해서 Prettier format 적용
  client/src/entities/player/ui/SlotCard.stories.tsx
  client/src/features/playerList/ui/PlayerListSection.stories.tsx
Due: client-lint, client-format

fix(fe): 스토리북 린트 에러 수정
  client/src/entities/player/ui/SlotCard.stories.tsx
  client/src/features/playerList/ui/PlayerListSection.stories.tsx
Due: client-lint, client-format

refactor(fe): 메타 데이터 타입 정의 수정 및 컴포넌트 참조 제거
  client/src/features/playerList/ui/PlayerListSection.stories.tsx
Due: client-lint, client-format

fix(fe): tsconfig에서 test/storybook 파일 제외하여 빌드 최적화
  client/tsconfig.app.json
Due: none

fix(fe): 슬롯 잠금/해제 시 최소 2명 제한 추가
  client/src/features/playerList/ui/PlayerListSection.test.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
Due: client-lint, client-format

fix(fe): PlayerListSection 테스트 린트 에러 수정
  client/src/features/playerList/ui/PlayerListSection.test.tsx
Due: client-lint, client-format

test(fe): 유사도 계산 로직 테스트 코드 작성
  client/src/features/similarity/lib/calculateFinalSimilarityByPreprocessed.test.ts
Due: client-lint, client-format

fix(be): 채팅 dto값 수정
  client/src/features/chat/model/types.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/schemas/chat.schema.ts
  server/src/chat/chat.gateway.ts
  server/src/chat/dto/chat-message.dto.ts
  server/src/common/constants/index.ts
  server/tsconfig.build.json
  server/tsconfig.json
Due: client-lint, client-format, server-lint, server-format

fix(be): 불필요 옵션 제거
  client/eslint.config.js
Due: none

fix(be): game, play gateway에서 zod에서 작성한 타입 사용하도록 변경
  server/src/game/dto/create-room.dto.ts
  server/src/game/dto/room-metadata.dto.ts
  server/src/game/dto/room-settings.dto.ts
  server/src/game/dto/room-start.dto.ts
  server/src/game/dto/user-join.dto.ts
  server/src/game/dto/user-kick.dto.ts
  server/src/game/game.controller.spec.ts
  server/src/game/game.controller.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
  server/src/play/dto/room-leaderboard.dto.ts
  server/src/play/dto/user-drawing.dto.ts
  server/src/play/dto/user-score.dto.ts
  server/src/play/play.gateway.ts
  server/src/round/dto/room-game-end.dto.ts
  server/src/round/dto/room-prompt.dto.ts
  server/src/round/dto/room-round-end.dto.ts
  server/src/round/dto/room-timer.dto.ts
Due: server-lint, server-format

refactor(be): 대기열 입장 후, 후처리는 gateway가 하도록 수정
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

refactor(be): 대기열 관리 로직을 waitlist.service로 분리
  server/src/game/game.module.ts
  server/src/game/game.service.ts
  server/src/game/waitlist.service.ts
Due: server-lint, server-format

test(be): 서버 프로필 검증 로직 단위테스트 추가
  server/src/redis/cache/waitlist-cache.service.spec.ts
Due: server-lint, server-format

refactor(fe): useLocalStorageWatch useEffect로 등록하여 키가 변경 될 때마다 감지하도록 개선 - 기존 100ms 마다 감지하는 것이 아닌 useEffect훅을 통해 조건부로 개선
  client/src/shared/model/useLocalStorageWatch.test.ts
  client/src/shared/model/useLocalStorageWatch.ts
Due: client-lint, client-format

refactor(fe): 구독한 이벤트만 소켓 연결 해지하도록 코드 개선
  client/src/features/socket/model/useSocketConnection.ts
Due: client-lint, client-format

refactor(fe): waitlist cache에 TTL 추가 - TTL이 적용되있지 않아 추가했습니다. - 관련된 테스트로직도 수정했습니다
  server/src/game/game.service.ts
  server/src/redis/cache/waitlist-cache.service.spec.ts
  server/src/redis/cache/waitlist-cache.service.ts
Due: server-lint, server-format

refactor(be): 플레이어 관련 로직 분리 player.service.ts
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/game/game.service.ts
  server/src/game/player.service.ts
Due: server-lint, server-format

refactor(be): 게임 방 관련 로직을 room.service로 분리
  server/src/common/constants/error-code.ts
  server/src/common/exceptions/internal-error.ts
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/game/game.service.ts
  server/src/game/player.service.ts
  server/src/game/room.service.ts
Due: server-lint, server-format

refactor(be): 웹소켓 필터 로직 개선
  server/src/common/exceptions/websocket-exception.filter.ts
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(be): game.gateway에서 gameRoomcacheService 의존성 삭제
  server/src/game/game.gateway.ts
  server/src/game/room.service.ts
Due: server-lint, server-format

test(be): player.service.spec 테스트 코드 작성
  server/src/game/player.service.spec.ts
Due: server-lint, server-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
