Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

refactor(fe): feaure의 drawStokesOnCanvas를 entities로 이동 - 비즈니스 로직보단 내부 동작에 가까워서 entities로 이동
  client/src/entities/drawing/index.ts
  client/src/entities/drawing/lib/drawStrokesOnCanvas.ts
Due: client-lint, client-format

feat(fe): 캔버스내에 스트로크를 그리는 공통 컴포넌트 StaticCanvas 추가 - gameend, prompt, roundend에서 분산된 canvas 컴포넌트를 재사용가능하게 구현
  client/src/entities/drawing/ui/StaticCanvas.tsx
Due: client-lint, client-format

feat(fe): StaticCanvas 컴포넌트 적용 - 정적 그림제시일 경우 해당 컴포넌트사용 - 분산된로직을 하나의 컴포넌트를 임포트해서 사용하도록 개선
  client/src/entities/gameStart/ui/ImagePreviewCard.tsx
  client/src/entities/roundResult/ui/PromptSectionSection.tsx
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

docs: 리드미 인프라 구조 그림 수정
  README.md
Due: none

design(fe): 가독성 향상을 위해 글자 크기 조정
  client/src/entities/alert/ui/AlertModal.tsx
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/shared/ui/base-modal/BaseModal.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

refactor(fe): 게임 텍스트 상수 내용 수정 (제목, 설명, 매뉴얼)
  client/src/widgets/main/config/index.ts
Due: client-lint, client-format

refactor(fe): 게임 설명서 모달에서 상수에서 콘텐츠를 가지고 오도록 변경
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

refactor(fe): 메인화면 subTitle 여백 및 줄바꿈 수정
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

style(fe) : Prettier 적용
  client/src/widgets/main/config/index.ts
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

feat: 1,2,3위 색상 실시간 리더보드 프로그레스바에 적용
  client/src/entities/similarity/ui/progress-bar/progress-bar.tsx
Due: client-lint, client-format

feat(be): 게임 방 설정 변경 기능 구현
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

fix(be): 방장 권한 위임 후 플레이어가 맨 뒤로 가는 버그 수정
  server/src/game/game.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

refactor(be): setHost -> setPlayer로 변경
  server/src/game/game.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

feat(be): maxPlayer 값과 현재 인원 수 비교 검증 코드 추가
  server/src/game/game.service.ts
Due: server-lint, server-format

feat(fe): 유사도 함수 반환값에 상세 지표 점수 추가
  client/src/features/similarity/index.ts
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/model/similarity.ts
Due: client-lint, client-format

feat(fe): 라운드 종료 시 유사도 상세 점수도 전송/받는 기능 추가
  client/src/entities/roundResult/model/types.ts
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  server/src/common/types/game-play.types.ts
  server/src/play/dto/user-drawing.dto.ts
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/cache/standings-cache.service.ts
Due: client-lint, client-format, server-lint, server-format

feat(fe): 게임 종료 시 1등 하이라이트 유사도 상세점수도 받는 기능 추가
  client/src/entities/gameResult/model/types.ts
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  server/src/common/types/game-play.types.ts
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/round/round.service.ts
Due: client-lint, client-format, server-lint, server-format

feat(fe): 라운드 종료 화면에서 플레이어 카드에 호버 시 상세 점수 출력하는 기능 추가
  client/src/app/config/router/index.tsx
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/entities/similarity/index.ts
  client/src/entities/similarity/ui/similarityDetail/PlayerSimilarityDetailTooltip.tsx
Due: client-lint, client-format

feat(fe): 팟지 유사도 점수에 호버 시 상세 점수 출력하는 기능 추가
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

feat(fe): 지표 점수에 가중치 적용
  client/src/entities/similarity/ui/similarityDetail/PlayerSimilarityDetailTooltip.tsx
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
Due: client-lint, client-format

feat(fe): 캔버스 연필모양 커서 추가
  client/public/cursors/pencil.cur
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
Due: client-lint, client-format

style: css 토큰 설정 - 현재 사용중인 색상 레이아웃 등 분리 Co-Authored-By: 김준서 Junseo Kim <oesnuj@users.noreply.github.com>
  .gitignore
  client/src/index.css
Due: none

style: 두들 svg 시맨틱 색상으로 변경
  client/src/shared/ui/doodles/index.tsx
Due: client-lint, client-format

style(fe): 게임 세팅 카드 색상 추가
  client/src/index.css
Due: none

design(fe): main, prompt, drawing 페이즈에서 변경된 css 적용 - index.css의 디자인 토큰 적용
  client/src/widgets/drawing/ui/Drawing.tsx
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/prompt/ui/Prompt.tsx
Due: client-lint, client-format

feat(fe): 캔버스 컬러 선택 시 선택효과 추가
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
Due: client-lint, client-format

chore(fe): 프로젝트 설명 노출을 위해서 기본 description 메타 태그 추가
  client/index.html
Due: none

chore(fe): 파비콘 이미지 파일 추가 (144 x 144)
  client/public/favicon.png
Due: none

chore(fe): 링크 공유 시 OG 표시를 위해서 OG 이미지 파일 추가 (1200 x 630)
  client/public/og-image.png
Due: none

feat(fe): 파비콘 표시를 위해서 HTML head에 파비콘 링크 태그 추가
  client/index.html
Due: none

feat(fe): 링크 공유 시 OG 표시를 위해서 HTML head에 OG 메타 태그 추가
  client/index.html
Due: none

feat(fe): 트위터 카드 표시를 위해서 HTML head에 Twitter 카드 메타 태그 추가
  client/index.html
Due: none

feat(fe): 게임 초대 링크 공유 시 동적 OG 메타태그 지원
  client/netlify.toml
  client/netlify/edge-functions/og.ts
Due: client-lint, client-format

design(fe): 디자인 토큰 적용 - 대기방 UI 변경 임시 채팅칸 만들어 놓은 상태 - 프롬프트 사이즈를 캔버스 사이즈와 동일하게 설정
  client/src/entities/drawing/ui/DrawingHeader.tsx
  client/src/entities/gameSettings/ui/GameSettingsCard.tsx
  client/src/entities/gameStart/ui/GameStartHeader.tsx
  client/src/entities/gameStart/ui/ImagePreviewCard.tsx
  client/src/entities/player/ui/EmptySlot.tsx
  client/src/entities/player/ui/playerCard/PlayerCard.tsx
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/waitingRoomActions/ui/WaitingRoomActions.tsx
  client/src/index.css
  client/src/widgets/drawing/ui/Drawing.tsx
  client/src/widgets/gameEnd/ui/GameEnd.tsx
  client/src/widgets/prompt/ui/Prompt.tsx
  client/src/widgets/roundEnd/ui/RoundEnd.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

lint(fe): 린트 수정
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/waitingRoomActions/ui/WaitingRoomActions.tsx
Due: client-lint, client-format

refactor(fe): netlify.toml 및 OG 메타 태그 관련 edge function 파일 삭제
  client/netlify.toml
  client/netlify/edge-functions/og.ts
Due: client-lint, client-format

refactor(be): 다음 호스트 인덱스 상수화
  server/src/game/game.service.ts
Due: server-lint, server-format

refactor(fe): 팔레트 색상 버튼 공통 컴포넌트화
  client/src/features/drawingCanvas/config/colors.ts
  client/src/features/drawingToolbar/ui/ColorButton.tsx
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
Due: client-lint, client-format

fix(fe): DrawingToolbar 포맷팅 수정
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
Due: client-lint, client-format

design(fe): 대기방에서 양쪽 섹션 높이 일치하게 수정
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
