Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

lint: lint에러 수정
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/entities/profile/index.ts
Due: client-lint, client-format

fix(be): 테스트 시 닉네임 10자 이내로 변경하여 테스트 충돌 해결
  server/src/redis/cache/waitlist-cache.service.spec.ts
Due: server-lint, server-format

refactor(fe): 폰트 파일을 assets public으로 이동해 SPA 페이지 전환 시 브라우저 중복 요청 방지
  client/public/fonts/강원교육현옥샘.woff2
  client/src/index.css
Due: none

refactor(fe): 구글 폰트 CDN 링크 제거하고 폰트 로컬 호스팅으로 통합
  client/index.html
Due: none

fix(fe): 새로고침 시 폰트 파일은 재 다운로드 안하게 설정
  client/netlify.toml
Due: none

fix(be): 사용하지 않는 타입 삭제
  server/src/common/types/chat.types.ts
  server/src/common/types/game-play.types.ts
Due: server-lint, server-format

refactor: profileId 기반으로 마이그레이션 - 소켓 아이디 기반으로 식별하던 코드들을 모두 프로필 아이디 기반으로 마이그레이션 했습니다
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/entities/gameRoom/model/hooks.ts
  client/src/entities/ranking/ui/StandingRow.tsx
  client/src/entities/roundResult/ui/PlayerReplaysSection.tsx
  client/src/features/chat/ui/ChatMessage.tsx
  client/src/features/liveRanking/model/useLiveRanking.ts
  client/src/features/liveRanking/ui/LiveRankingList.tsx
  client/src/features/playerList/ui/PlayerListSection.tsx
  client/src/features/socket/lib/socketHandlers.ts
  client/src/features/socket/model/useRoomEvents.ts
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
  client/src/widgets/roundStanding/model/useRoundStanding.ts
  client/src/widgets/roundStanding/ui/RoundStanding.tsx
  server/src/common/utils/player.utils.ts
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/cache/leaderboard-cache.service.ts
  server/src/redis/cache/standings-cache.service.ts
  server/src/redis/redis-keys.ts
  server/src/round/phase.service.ts
Due: client-lint, client-format, server-lint, server-format

fix(be): 게임 중 혼자 남으면 즉시 종료하는 기능 구현
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint, server-format

refactor: 프로필아이디 기반으로 테스트 코드 수정
  client/src/features/socket/lib/socketHandlers.test.ts
  server/src/round/phase.service.spec.ts
Due: client-lint, client-format, server-lint, server-format

refactor(fe): 소켓 연결시 프로필 아이디를 전송할 수 있게 설정 및 새로고침 시 소켓 연결 감지하게 개선
  client/src/features/socket/model/useSocketConnection.ts
Due: client-lint, client-format

feat(fe): 새로고침 시 바로 데이터를 삭제하지 않고 Grace Period를 두어 유예한 후 삭제하는 기능 구현 - 2초동안 유예를 둔 후 재연결 시 플레이어의 데이터를 삭제하지 않게했습니다
  server/src/game/player.service.spec.ts
  server/src/game/player.service.ts
  server/src/redis/cache/game-room-cache.service.ts
  server/src/redis/cache/grace-period-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint, server-format

feat(fe): 게임 페이즈별 스켈레톤 UI 컴포넌트 추가
  client/src/widgets/game/ui/GameLoadingSkeleton.tsx
  client/src/widgets/gameEnd/ui/GameEndSkeleton.tsx
  client/src/widgets/roundReplay/ui/RoundReplaySkeleton.tsx
  client/src/widgets/roundStanding/ui/RoundStandingSkeleton.tsx
  client/src/widgets/waiting/ui/WaitingSkeleton.tsx
Due: client-lint, client-format

feat: 세션 스토리지에 탭 ID를 부여하여 같은 탭에서 재연결했는지 검증하도록 구현
  client/src/shared/lib/tabLock.test.ts
  client/src/shared/lib/tabLock.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
Due: client-lint, client-format, server-lint, server-format

feat(fe): 게임 phase 변경 시 localStorage에 저장
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

feat(fe): 소켓 연결 전 스켈레톤 UI 표시
  client/src/app/config/router.tsx
  client/src/pages/game/Game.tsx
Due: client-lint, client-format

styles(fe): 전역 prettier format 적용
  client/src/index.css
Due: none

refactor(fe): Skeleton 컴포넌트를 shared/ui로 분리
  client/src/shared/ui/Skeleton.tsx
  client/src/shared/ui/index.ts
  client/src/widgets/gameEnd/ui/GameEndSkeleton.tsx
  client/src/widgets/roundReplay/ui/RoundReplaySkeleton.tsx
  client/src/widgets/roundStanding/ui/RoundStandingSkeleton.tsx
  client/src/widgets/waiting/ui/WaitingSkeleton.tsx
Due: client-lint, client-format

style(fe): prettier format 적용
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

fix(fe): gameStore updateRoom 충돌해결
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

fix(be): 페이즈 전환 시 prompt를 객체에서 배열로 전달하도록 수정
  server/src/game/game.gateway.ts
Due: server-lint, server-format

refactor(fe): 방 설정 제한 시간을 그리는 시간으로 문구 수정
  README.md
  client/src/features/roomSettings/model/useRoomSettings.ts
Due: client-lint, client-format

feat(fe): 게임 페이지에서 새로고침/창닫기 방지 기능 추가
  client/src/features/socket/index.ts
  client/src/features/socket/model/useBeforeUnload.ts
  client/src/pages/game/Game.tsx
Due: client-lint, client-format

refactor(fe): 방설정 모달의 제한시간 글자를 그리는 시간으로 변경
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

fix(be): Grace Period cleanup 및 kick 로직 개선
  server/src/game/game.gateway.ts
Due: server-lint, server-format

feat(be): Grace Period cleanup 및 kick 로직 개선
  server/src/game/game.gateway.ts
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
  server/src/game/player.service.spec.ts
  server/src/game/player.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

test(be): prompt.service 테스트 코드 추가
  server/src/prompt/prompt.service.spec.ts
Due: server-lint, server-format

test(be): MetricInterceptor 테스트 코드 작성
  server/src/common/interceptors/metric.interceptor.spec.ts
Due: server-lint, server-format

fix(be): super.catch 중복 호출 버그 수정
  server/src/common/exceptions/websocket-exception.filter.ts
Due: server-lint, server-format

test(be): websocket-exception.filter.ts 테스트 코드 작성
  server/src/common/exceptions/websocket-exception.filter.spec.ts
  server/src/common/exceptions/websocket-exception.filter.ts
Due: server-lint, server-format

test(be): play.service.ts 테스트 코드 작성
  server/src/play/play.service.spec.ts
Due: server-lint, server-format

fix(be): 제출 여부 체크 로직 추가
  server/src/common/constants/error-code.ts
  server/src/play/play.service.spec.ts
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint, server-format

test(be): 테스트간 mock 상태 초기화 코드 추가
  server/src/common/exceptions/websocket-exception.filter.spec.ts
Due: server-lint, server-format

fix(be): mock 상태 초기화 beforeEach -> afterEach 로 수정
  server/src/play/play.service.spec.ts
Due: server-lint, server-format

refactor(be): key 체크 중복 검사 개선
  server/src/play/play.service.spec.ts
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint, server-format

feat(be): 헬스 체크 엔드포인트 추가
  server/src/app.module.ts
  server/src/health/health.controller.ts
  server/src/health/health.module.ts
  server/src/health/health.service.ts
  server/src/prompt/prompt.service.ts
Due: server-lint, server-format

test(be): health.service.ts 테스트 코드 작성
  server/src/health/health.service.spec.ts
Due: server-lint, server-format

chore(be): 블루-그린 배포 스크립트 추가
  deploy/compose.blue-green.yml
  deploy/deploy.sh
Due: none

fix: 배포 스크립트 수정
  deploy/compose.blue-green.yml
  deploy/deploy.sh
Due: none

chore(be): deploy 폴더를 수정하면 서버 배포 스크립트가 실행되도록 수정
  .github/workflows/deploy-backend.yml
Due: none

chore(be): working-directory 설정
  .github/workflows/deploy-backend.yml
Due: none

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
