Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

chore(be): 배포 테스트용 포트 수정
  deploy/compose.yml
Due: none

chore(be): 환경 변수 복사 스크립트 추가
  .github/workflows/deploy-backend.yml
Due: none

chore(be): .env 파일 복사 스크립트 추가 및 방어 스크립트 추가
  .github/workflows/deploy-backend.yml
Due: none

fix: 환경변수 복사 스크립트 수정
  .github/workflows/deploy-backend.yml
Due: none

fix: 배포 스크립트 수정
  .github/workflows/deploy-backend.yml
Due: none

fix: 스크립트 수정
  .github/workflows/deploy-backend.yml
Due: none

chore: 테스트용 설정 삭제
  .github/workflows/deploy-backend.yml
  deploy/compose.yml
Due: none

chore(fe): 변경된 도메인에 맞게 OG 메타 태그 업데이트
  client/index.html
Due: none

chore(fe): 네이버 서치 어드바이저 검증 파일 추가
  client/public/naver0fbe6fa4a365cec8285855b5ba54a7d6.html
Due: none

chore(fe): 검색엔진 색인을 위한 sitemap.xml 추가
  client/public/sitemap.xml
Due: none

chore(fe): 검색엔진 크롤링 설정을 위한 robots.txt 추가
  client/public/robots.txt
Due: none

feat(be): 혼자 남으면 즉시 게임을 종료하는 기능 구현
  server/src/game/game.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

test: 플레이어 퇴장 시나리오 추가
  tests/e2e/player-leave.spec.ts
Due: none

feat(fe): gameStore persist 미들웨어 도입 - 새로고침에 대응하기 위해 게임스토어에 persist미들 웨어 추가 - 주스탠드 데이터를 sessionStorage에 저장
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

refactor(fe): gameStore 내 훅과 셀렉터 분리 - 게임 스토어만의 목적을 명확히 하기위해 중첩되있던 훅을 분리했습니다.
  client/src/entities/gameRoom/index.ts
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/entities/gameRoom/model/hooks.ts
  client/src/entities/gameRoom/model/selectors.ts
Due: client-lint, client-format

refactor(fe): import 경로 수정
  client/src/features/chat/ui/ChatMessage.tsx
Due: client-lint, client-format

docs: .vite 폴더 ginignore등록 - vite 빌드 시 생성되는 캐시 폴더를 gitignore에 등록
  client/.gitignore
Due: none

fix(test): 플레이어 카운터를 파일에서 레디스로 변경
  tests/artillery/multi-room/.env.example
  tests/artillery/multi-room/processor.js
  tests/artillery/pnpm-lock.yaml
Due: none

chore: 레디스 의존성 추가
  package.json
  pnpm-lock.yaml
Due: none

test: 레디스 에러가 발생하는 경우, 즉시 테스트 종료하도록 수정
  tests/artillery/multi-room/processor.js
Due: none

feat(fe): BroadcastChannel 활용하여 다중 탭에서 동일 유저가 접근하지 못하는 기능 구현 - 맨 처음 접속한 탭은 리더 3초 주기의 hearbeat를 탭 간 전송하여 추가 탭이 접속하는 것을 방지 - 탭을 연결한 후 100ms동안 다른 탭의 메시지를 감지하고 deny가 아니면 그 탭이 리더로 선정
  client/src/shared/lib/tabLock.test.ts
  client/src/shared/lib/tabLock.ts
Due: client-lint, client-format

fix: e2e 테스트 시 하드 코딩 된 호스트와 게스트 프로필 아이디 랜덤 배정하게 수정 - 같은 프로필 아이디를 공유하여 같은 탭으로 인식하여 e2e테스트 시 다른 프로필 아이디를 할당하게 수정했습니다
  tests/e2e/fixtures.ts
Due: none

lint: 린트 오류 수정
  client/src/shared/lib/tabLock.test.ts
  client/src/shared/lib/tabLock.ts
Due: client-lint, client-format

feat(fe): 로컬 스토리지에서 값 감지하는 로직 공통 훅으로 분리
  client/src/shared/model/index.ts
  client/src/shared/model/useLocalStorageWatch.ts
Due: client-lint, client-format

feat(fe): 탭 잠금 획득 및 해제 관리 훅 - 방 ID, 잠금 획득 여부에 따라 사용자의 액션 관리
  client/src/features/socket/model/useTabLock.ts
Due: client-lint, client-format

refactor(fe): useGameSocket 도메인 별 훅으로 분리 - useEffect가 혼재하고 여러 로직이 혼재해 도메인 별로 분리했습니다. - chat - error - gamedata - result - roomevent - socker connection - waitlist
  client/src/features/socket/model/useChatEvents.ts
  client/src/features/socket/model/useErrorEvents.ts
  client/src/features/socket/model/useGameDataEvents.ts
  client/src/features/socket/model/useGameSocket.ts
  client/src/features/socket/model/useResultEvents.ts
  client/src/features/socket/model/useRoomEvents.ts
  client/src/features/socket/model/useSocketConnection.ts
  client/src/features/socket/model/useWaitlistEvents.ts
Due: client-lint, client-format

lint: 린트 오류 수정
  client/src/features/socket/model/useChatEvents.ts
  client/src/features/socket/model/useWaitlistEvents.ts
Due: client-lint, client-format

feat(fe): 소켓 연결 시 최신의 프로필 아이디를 사용해도록 수정
  client/src/shared/api/socket.ts
Due: client-lint, client-format

feat(be): 에러 코드에 다른 탭 관련 오류 추가
  server/src/common/constants/error-code.ts
Due: server-lint, server-format

feat(be): 서버에서 profileId 기반 이중 탭 검증 로직 구현 - game.gateway: socket.io에서 auth로 넣은 profileId를 검증한 후 소켓을 연결 - joinRoom 시 같은 profileId가 존재하는지 검증
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/redis/cache/waitlist-cache.service.ts
Due: server-lint, server-format

fix(be): redis delete 메서드 unlink형식으로 변경 - ncp에서 지원하는 방식으로 변경
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint, server-format

fix(fe): develop pull 후 중복된 오류 해결 및 전체 사이즈 1420px로 수정 - 전체 사이즈가 다시 1920으로 되있어서 수정했습니다
  client/src/index.css
  client/src/shared/model/index.ts
Due: client-lint, client-format

feat(fe): 모노레포 환경 구성
  client/package.json
  client/tsconfig.app.json
  client/vite.config.ts
  package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/nest-cli.json
  server/package.json
  server/tsconfig.build.json
  server/tsconfig.build.tsbuildinfo
Due: client-lint, client-format

feat(fe): zod schema 전역 사용 변경
  client/src/entities/gameResult/model/types.ts
  client/src/entities/gameRoom/model/types.ts
  client/src/entities/player/model/types.ts
  client/src/entities/ranking/model/types.ts
  client/src/entities/roundResult/model/types.ts
  client/src/entities/similarity/model/color.ts
  client/src/entities/similarity/model/stroke.ts
  client/src/features/chat/model/types.ts
  client/src/features/similarity/model/similarity.ts
  client/src/pages/game/Game.tsx
  client/src/shared/config/gamePhase/index.ts
  client/src/shared/config/socketEvents/index.ts
  packages/shared/src/constants/events.ts
  packages/shared/src/constants/game-phase.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/index.ts
  packages/shared/src/schemas/base.schema.ts
  packages/shared/src/schemas/chat.schema.ts
  packages/shared/src/schemas/entity.schema.ts
  packages/shared/src/schemas/game.schema.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/play.schema.ts
  packages/shared/src/schemas/result.schema.ts
  packages/shared/src/schemas/round.schema.ts
  packages/shared/src/types/index.ts
  server/src/common/constants/index.ts
  server/src/common/types/index.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/play/play.gateway.ts
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/cache/game-room-cache.service.ts
  server/src/redis/cache/leaderboard-cache.service.ts
  server/src/redis/cache/player-cache.service.ts
  server/src/round/round.service.ts
  server/src/timer/timer.gateway.ts
  server/tsconfig.json
Due: client-lint, client-format, server-lint, server-format

feat(fe): nestjs validationPipe 커스텀(zod schema 활용)
  server/src/common/pipes/zod-validation.pipe.ts
Due: server-lint, server-format

docs: README 전면 개편
  README.md
Due: none

fix(be): 두 번째로 나간 플레이어의 시스템 메시지가 보이지 않는 버그 수정
  server/src/game/game.service.ts
Due: server-lint, server-format

feat(fe): 유사도 상세보기 툴팁 위치 ui에 맞게 방향 설정되도록 구현
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
Due: client-lint, client-format

design(fe): 최종결과 화면 랭킹 점수 폰트 사이즈 변경
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
Due: client-lint, client-format

feat(fe): 방 세팅 모달 초기값 반영 - 이미 생성한 방의 설정 반영하여 초기값 설정
  client/src/features/roomSettings/index.ts
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/widgets/main/ui/Main.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
