Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    client-lint:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    client-format:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
    server-lint:
      root: "server/"
      glob: "*.ts"
      run: npx eslint --fix {staged_files}

refactor(fe): 유사도 계산 파일 판별기준별로 분리(hull/stroke)
  client/src/features/similarity/lib/calculateFinalSimilarity.ts
  client/src/features/similarity/lib/geometry/convexHall.ts
  client/src/features/similarity/lib/hull/convexHullGeometry.ts
  client/src/features/similarity/lib/hull/hullSimilarity/calculateHullSimilarity.ts
  client/src/features/similarity/lib/stroke/strokeGeometry.ts
  client/src/features/similarity/lib/stroke/strokeSimilarity/calculateGreedyStrokeMatchScore.ts
  client/src/features/similarity/lib/stroke/strokeSimilarity/comparePairwiseStrokeSimilarity.ts
  client/src/features/similarity/lib/utils/normalizeStrokes.ts
Due: client-lint, client-format

fix(fe): entities에서 계산로직 export 삭제
  client/src/entities/similarity/index.ts
Due: client-lint, client-format

test(fe): 테스트 값 수정 모달에서 설정된 값으로 룸 생성 함수가 호출되는지 확인하도록 수정
  client/src/features/roomSettings/api/createRoom.test.ts
  client/src/pages/main/Landingpage.test.tsx
Due: client-lint, client-format

refactor(fe): 방 생성 실패 시 알림 추가 - 기본 알림으로 구현 - api호출 후 결과에 따라 모달이 닫히게 수정
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
  client/src/pages/main/Landingpage.tsx
Due: client-lint, client-format

refactor(fe): fetchJson을 fetchClient로 변경하고 화살표 함수로 통일 및 타입 지정 추가 - 헤더와 바디 분리 - 옵션으로 처리하지 않고 각 부분 구분 및 기본 옵션 지정
  client/src/features/roomSettings/api/createRoom.ts
  client/src/shared/api/rest/fetchClient.ts
  client/src/shared/api/rest/index.ts
Due: client-lint, client-format

rename(fe): Main으로 테스트 파일 명명 교체
  client/src/pages/main/Main.test.tsx
Due: client-lint, client-format

refactor(be): room-waitlist.service.ts -> waitlist-cache.service.ts로 이름 변경
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
  server/src/redis/cache/waitlist-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint

fix(be): client.join에 await 설정
  server/src/game/game.gateway.ts
Due: server-lint

refactor(fe): DrawingCanvas를 DrawingToolbar 포함한 형태로 변경
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/widgets/drawing/ui/Drawing.tsx
Due: client-lint, client-format

refactor(fe): drawingCanvas-new를 drawingCanvas로 폴더명 변경
  client/src/features/drawingCanvas/model/useMouseDrawing.ts
Due: client-lint, client-format

feat(be): 게임 시작 서비스로직 추가
  server/src/common/constants/index.ts
  server/src/game/game.service.ts
Due: server-lint

refactor(fe): 이슈 단위를 맞추기 위해 strokes 상태 관리 기능 제거 및 마우스 그리기 기능만 제공
  client/src/features/drawingCanvas/model/useMouseDrawing.ts
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
Due: client-lint, client-format

refactor(fe): 임시로 게임 단계 'ROUND_END'를 'DRAWING'으로 변경 및 타이머 시간을 5초에서 30초로 수정
  client/src/pages/game/Game.tsx
  client/src/widgets/drawing/ui/Drawing.tsx
Due: client-lint, client-format

feat(be): 게임 시작 시 제시 그림 불러와서 브로드캐스트하는 로직 추가
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint

refactor(fe): 캔버스를 정사각형으로 표시하도록 레이아웃 수정
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/widgets/drawing/ui/Drawing.tsx
Due: client-lint, client-format

feat(be): WAITING -> PROMPT 변경 기능 구현
  server/src/common/constants/index.ts
  server/src/game/game.module.ts
  server/src/game/game.service.spec.ts
  server/src/game/game.service.ts
  server/src/round/round.module.ts
  server/src/round/round.service.spec.ts
  server/src/round/round.service.ts
Due: server-lint

feat(be): game.service.ts - startGame 메소드 추가
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
Due: server-lint

refactor(fe): strokes 배열 관리를 useStrokes 훅으로 분리
  client/src/features/drawingCanvas/model/useStrokes.ts
Due: client-lint, client-format

refactor(fe): useMouseDrawing에 onAddStroke 콜백 추가
  client/src/features/drawingCanvas/model/useMouseDrawing.ts
Due: client-lint, client-format

refactor(fe): 색상 상수를 constants로 분리
  client/src/features/drawingCanvas/constants/colors.ts
Due: client-lint, client-format

feat(fe): 색상 선택 상태 관리를 useColorSelection 훅으로 분리
  client/src/features/drawingCanvas/model/useColorSelection.ts
Due: client-lint, client-format

refactor(fe): 캔버스 렌더링 로직을 drawStrokesOnCanvas 유틸로 분리
  client/src/features/drawingCanvas/lib/drawStrokesOnCanvas.ts
Due: client-lint, client-format

refactor(fe): DrawingCanvas를 훅 기반으로 리팩토링
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
Due: client-lint, client-format

feat(fe): DrawingToolbar에 Undo 기능 추가
  client/src/features/drawingToolbar/ui/DrawingToolbar.tsx
Due: client-lint, client-format

feat(be): 라운드 시작 / 종료 로직 추가
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
  server/src/game/game.service.ts
  server/src/round/round.gateway.ts
  server/src/round/round.module.ts
  server/src/round/round.service.ts
Due: server-lint

refactor(fe): 상대경로 import 경로를 절대 경로로 변경
  client/src/features/drawingCanvas/model/useColorSelection.ts
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
Due: client-lint, client-format

feat(be): round_end 응답 본문 샘플데이터 추가
  server/src/round/round.gateway.ts
Due: server-lint

feat: 게임 시작 시 현재 라운드를 증가
  server/src/round/round.service.ts
Due: server-lint

remove(be): PROMPT_MS 상수 삭제
  server/src/common/constants/index.ts
Due: server-lint

chore(fe): socket.io client, zustand 설치
  client/package.json
  client/pnpm-lock.yaml
Due: none

feat(fe): 게임 단계 및 소켓 상수 정의
  client/src/shared/config/gamePhase/index.ts
  client/src/shared/config/index.ts
  client/src/shared/config/phase/index.ts
  client/src/shared/config/socketEvents/index.ts
Due: client-lint, client-format

feat(be): 리더보드 저장 캐시 구현
  server/src/redis/cache/leaderboard-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint

feat(be): 유사도 업데이트와 브로드캐스트 기능 구현
  server/src/play/play.gateway.ts
  server/src/play/play.module.ts
  server/src/play/play.service.spec.ts
  server/src/play/play.service.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

feat(fe): 소켓 연결 및 해제를 위한 API 설정 추가
  client/src/shared/api/socket/index.ts
Due: client-lint, client-format

feat(be): 리더보드 초기화 함수 구현
  server/src/redis/cache/leaderboard-cache.service.ts
Due: server-lint

feat: sentry 세팅 & 유틸 함수 구현 & 초기화
  client/.env.example
  client/src/index.tsx
  client/src/shared/lib/sentry/index.ts
Due: client-lint, client-format

fix: 불필요 주석 제거
  client/src/shared/lib/sentry/index.ts
Due: client-lint, client-format

fix(be): RedisModule import
  server/src/play/play.module.ts
Due: server-lint

fix(be): async-await 추가, REDIS_TTL 추가
  server/src/play/play.gateway.ts
  server/src/play/play.service.ts
  server/src/redis/cache/leaderboard-cache.service.ts
Due: server-lint

feat(be): 플레이어가 참가할 때 리더보드 추가, 나갔을 때 리더보드에서 삭제
  server/src/game/game.service.ts
  server/src/redis/cache/leaderboard-cache.service.ts
Due: server-lint
