Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

refactor(test): 사용하지 않는 코드 삭제
  test/load.test.yml
  test/processor.js
Due: none

test(be): 레포트 생성 옵션 추가
  test/package.json
Due: none

fix(test): 버퍼 타임 수정
  test/.env.example
  test/load.test.yml
  test/processor.js
Due: none

test: console.log 삭제
  test/processor.js
Due: none

fix(test): 버퍼 타임 수정
  test/load.test.yml
Due: none

feat(be): joinRoom을 대기열 거치는 로직으로 변경
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/round/round.service.ts
Due: server-lint, server-format

feat(be): 대기 시 연습하기 소켓 이벤트 추가
  server/src/common/constants/index.ts
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/prompt/prompt.service.ts
Due: server-lint, server-format

feat(be): 채팅 관련 상수, 웹소켓 데이터 형식 , 타입 정의 - 클라이언트 -> 서버 chat:messtage - 서버 -> 클라이언트 chat:broadcast chat:history chat:error
  server/src/common/constants/index.ts
  server/src/common/types/chat.types.ts
  server/src/common/types/index.ts
Due: server-lint, server-format

test(be): 시작 전 rooms.json 파일 삭제 코드 추가
  test/multi-room/load.test.yml
  test/multi-room/processor.js
  test/package.json
  test/single-room/load.test.yml
  test/single-room/processor.js
Due: none

feat(fe): 대기 시 대기화면 표시, 연습모드 모달 구현
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/features/practice/index.ts
  client/src/features/practice/ui/Practice.stories.tsx
  client/src/features/practice/ui/Practice.tsx
  client/src/features/socket/model/useGameSocket.ts
  client/src/features/waitingRoomActions/index.ts
  client/src/features/waitingRoomActions/model/types.ts
  client/src/features/waitingRoomActions/ui/WaitingRoomOverlay.tsx
  client/src/shared/config/socketEvents/index.ts
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

feat(fe): 클라이언트 소켓 상수 및 데이터 타입 설정
  client/src/features/chat/model/types.ts
  client/src/shared/config/socketEvents/index.ts
Due: client-lint, client-format

feat(be): 대기 화면에서 현재 게임방 메타데이터를 받을 수 있도록 수정
  client/src/features/socket/model/useGameSocket.ts
  server/src/game/game.gateway.ts
Due: client-lint, client-format, server-lint, server-format

fix(be): 플레이어를 순차적으로 입장하도록 수정
  test/multi-room/processor.js
Due: none

chore(fe): clsx와 tailwind-merge 라이브러리 설치 - 테인윈드 포맷팅 및 조건부 스타일링을 도와주는 라이브러리
  client/package.json
  client/pnpm-lock.yaml
Due: none

feat(fe): clsx와 tailwind-merge 기본 유틸 함수 구현
  client/src/shared/lib/classNames.ts
  client/src/shared/lib/index.ts
Due: client-lint, client-format

design(fe): 대기화면 UI 수정
  client/src/features/waitingRoomActions/ui/WaitingRoomOverlay.tsx
  client/src/widgets/waiting/ui/Waiting.stories.tsx
  client/src/widgets/waiting/ui/Waiting.tsx
Due: client-lint, client-format

feat(fe): 연습하기 캔버스에 유사도 점수 계산 기능 추가
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/practice/ui/Practice.tsx
Due: client-lint, client-format

refactor(fe): GameState 인터페이스와 initialState export
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

refactor(fe): mockGameStore 중복 제거 및 mockData 재사용
  client/src/test/mocks/mockData.ts
  client/src/test/mocks/mockGameStore.tsx
Due: client-lint, client-format

docs(fe): 게임 위젯 스토리들을 args 기반 동적 컨트롤로 개선
  client/src/widgets/drawing/ui/Drawing.stories.tsx
  client/src/widgets/gameEnd/ui/GameEnd.stories.tsx
  client/src/widgets/prompt/ui/Prompt.stories.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.stories.tsx
  client/src/widgets/roundStanding/ui/RoundStanding.stories.tsx
  client/src/widgets/waiting/ui/Waiting.stories.tsx
Due: client-lint, client-format

fix(fe): mockGameStore의 export * 를 명시적 re-export로 변경
  client/src/test/mocks/mockGameStore.tsx
Due: client-lint, client-format

chore(be): prom-client 삭제
  server/package.json
  server/pnpm-lock.yaml
Due: none

chore(be): prom-client 추가
  server/package.json
  server/pnpm-lock.yaml
Due: none

refactor(fe): 스토리에서 mockData 직접 import로 변경
  client/src/test/mocks/mockGameStore.tsx
  client/src/widgets/drawing/ui/Drawing.stories.tsx
  client/src/widgets/gameEnd/ui/GameEnd.stories.tsx
  client/src/widgets/prompt/ui/Prompt.stories.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.stories.tsx
  client/src/widgets/roundStanding/ui/RoundStanding.stories.tsx
  client/src/widgets/waiting/ui/Waiting.stories.tsx
Due: client-lint, client-format

chore(fe): 개선된 PR 코멘트 레이아웃 및 링크
  .github/workflows/chromatic.yml
Due: none

fix(be): prom-client import 수정
  server/src/metric/metric.service.ts
Due: server-lint, server-format

chore(fe): PR 코멘트 링크 및 빌드 정보 개선
  .github/workflows/chromatic.yml
Due: none

style(fe): prettier format 적용
  client/src/test/mocks/mockStrokes.ts
  client/src/widgets/drawing/ui/Drawing.stories.tsx
Due: client-lint, client-format

fix(fe/be): 빌드 오류 수정
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/features/socket/model/useGameSocket.ts
  server/src/redis/cache/waitlist-cache.service.ts
Due: client-lint, client-format, server-lint, server-format

fix(be): 미사용 import 제거
  server/src/round/round.service.ts
Due: server-lint, server-format

chore(be): prom-client 설치 디버깅 코드 추가
  .github/workflows/ci.yml
Due: none

fix(be): pnpm version 삭제
  .github/workflows/ci.yml
Due: none

fix(be): 디버그 코드 삭제
  .github/workflows/ci.yml
Due: none

fix(be): 빌드 환경에서 resolvePackageJsonExports: false로 수정
  server/tsconfig.build.json
Due: none

ci(fe): PR 코멘트 액션을 sticky-pull-request-comment로 통일
  .github/workflows/chromatic.yml
  .github/workflows/lighthouse-ci.yml
Due: none

chore(be): build시 tsconfig.build.json을 사용하도록 수정
  server/nest-cli.json
Due: none

build(be): commonjs 방식으로 변경
  server/nest-cli.json
  server/tsconfig.build.json
  server/tsconfig.json
Due: none

chore(be): CI 캐시 비활성화 테스트
  .github/workflows/ci.yml
Due: none

chore(be): 디버깅 코드 추가
  .github/workflows/ci.yml
Due: none

chore(be): module: node16으로 변경
  server/tsconfig.json
Due: none

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
