Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

chore: Lighthouse CI 결과를 PR에 댓글로 게시하는 기능 추가
  .github/workflows/lighthouse-ci.yml
Due: none

chore: 클라이언트 및 서버 보안 감사 결과를 PR에 댓글로 게시하게 변경
  .github/workflows/ci.yml
Due: none

fix: Lighthouse 보고서에서 URL을 실행 번호로 변경
  .github/workflows/lighthouse-ci.yml
Due: none

fix: 보안 감사 결과를 PR에 게시할 때 출력 형식 개선 - JSON 인코딩이나 env 변수를 사용하면 특수문자(${, 백틱)가 이스케이프되어 실행되지 않음
  .github/workflows/ci.yml
  .github/workflows/lighthouse-ci.yml
Due: none

chore: asignee 자동 할당 기능을 위한 GitHub Actions 워크플로우 추가 및 리뷰어 자동화 설정
  .github/CODEOWNERS
  .github/workflows/auto-assign.yml
Due: none

fix: AppLayout을 Router 컨텍스트 내부로 변경
  client/src/app/config/router/index.tsx
  client/src/app/index.tsx
  client/src/app/ui/appLayout/index.tsx
Due: client-lint, client-format

feat: Home 페이지 FSD 구조 분리
  client/src/app/index.tsx
  client/src/pages/home/Home.test.tsx
  client/src/pages/home/Home.tsx
  client/src/pages/home/index.ts
  client/src/pages/main/index.ts
  client/src/shared/lib/sentry/index.ts
  client/src/shared/ui/doodles/index.tsx
  client/src/shared/ui/index.ts
  client/src/shared/ui/title/DecorateTitle.tsx
  client/src/shared/ui/title/Title.tsx
  client/src/shared/ui/title/index.ts
  client/src/widgets/main/config/index.ts
  client/src/widgets/main/index.ts
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

fix: 불필요 테스트 router 제거
  client/src/app/config/router/index.tsx
Due: client-lint, client-format

feat(docs): Update README.md
  README.md
Due: none

feat(docs): Update README.md
  AE31147B-D89D-48EA-9E5B-B7E441EBC391.jpg
Due: none

chore: .coderabbit.yaml 파일 추가 및 팀 컨벤션 가이드 설정 - 코드 본문에 주석으로 상세설명
  .coderabbit.yaml
Due: none

ci: lefthook 커밋 메시지 형식 검증 기능 추가
  lefthook.yml
Due: none

ci: auto-author-assign 액션을 v3.0.1로 업데이트 및 보안 감사 보고서 하나의 보고서로 병합 및 새로운 커밋에는 생성하지 않게 수정
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
Due: none

fix(be): promptStrokes 데이터 오류 수정
  server/data/promptStrokes.json
Due: none

fix(be): value가 있는 데이터만 필터링하도록 수정
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint

chore(be): @nestjs/event-emitter 의존성 추가
  server/package.json
  server/pnpm-lock.yaml
Due: none

feat(be): 게임 진행 캐시 구현
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint

feat(be): 드로잉 데이터 제출 기능 구현
  server/src/play/play.gateway.ts
  server/src/play/play.service.ts
Due: server-lint

refactor(be): readFileSync를 readFile 로 변경
  server/src/round/round.service.ts
Due: server-lint

feat(be): 타이머 종료 콜백 기능 구현
  server/src/round/round.service.ts
  server/src/timer/timer.service.ts
Due: server-lint

feat(be): 라운드 종료 구현
  server/src/play/play.gateway.ts
  server/src/play/play.module.ts
  server/src/round/round.service.ts
Due: server-lint

test(be): round.service.spec, play.service.spec 의존성 추가
  server/src/play/play.service.spec.ts
  server/src/round/round.service.spec.ts
Due: server-lint

feat(be): 게임 종료 구현
  server/src/redis/cache/game-progress-cache.service.ts
  server/src/redis/cache/standings-cache.service.ts
  server/src/round/round.gateway.ts
  server/src/round/round.module.ts
  server/src/round/round.service.ts
Due: server-lint

feat(be): 게임 누적 점수 캐시 구현
  server/src/redis/cache/standings-cache.service.ts
  server/src/redis/redis.module.ts
Due: server-lint

fix(be): 게임 시작 로직 변경
  server/src/game/game.gateway.ts
  server/src/game/game.service.ts
  server/src/round/round.gateway.ts
  server/src/round/round.module.ts
  server/src/round/round.service.ts
  server/src/timer/timer.service.ts
Due: server-lint

chore(be): @nestjs/event-emitter 의존성 삭제
  server/package.json
  server/pnpm-lock.yaml
Due: none

feat(be): 게임 종료 후 대기 상태 변경 구현
  server/src/round/round.service.ts
Due: server-lint

fix(be): 그림 그리기 단계 -> 라운드 종료 전환이 타이머에 의해 일어나지 않도록 수정
  server/src/round/round.service.ts
Due: server-lint

fix(be): new Array().map() 수정
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint

feat(fe): round_end시 응답 타입 정의
  client/src/entities/roundResult/index.ts
  client/src/entities/roundResult/model/index.ts
  client/src/entities/roundResult/model/types.ts
Due: client-lint, client-format

fix(be): 동시성 문제 코드 수정
  server/src/redis/cache/standings-cache.service.ts
Due: server-lint

fix(be): moveNextRoundOrEnd, null 타입 체크
  server/src/round/round.service.ts
Due: server-lint

feat(fe): 게임 종료 응답 타입 정의 - Highlight - GameEndResponse
  client/src/entities/gameResult/index.ts
  client/src/entities/gameResult/model/index.ts
  client/src/entities/gameResult/model/types.ts
Due: client-lint, client-format

feat(fe): roundEnd, gameEnd 시 상태 업데이트 함수 추가 - setHightLight: 게임 종료시 보여줄 하이라이트 상태 업데이트 함수 - setRoundResults: 라운드 종료시 라운드 상태 업데이트 - setFinalResults: 게임 종료 시 최종 결과 상태 업데이트
  client/src/entities/gameRoom/model/gameStore.ts
Due: client-lint, client-format

fix(be): 타이머 콜백 try-catch 추가
  server/src/timer/timer.service.ts
Due: server-lint

feat(fe): 라운드, 게임 종료 시 소켓으로 값 수신 - 라운드가 끝날 때 라운드 결과를 소켓으로부터 수신 - 게임이 종료될 때 최종 결과를 소켓으로부터 수신
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

fix(be): submitDrawing 예외 처리
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint

fix(be): 라운드 정보가 잘못된 위험 제거
  server/src/play/play.service.ts
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint

feat(fe): GameEnd 위젯 더미데이터 제거하고 전역 상태 값으로 관리하도록 수정
  client/src/widgets/gameEnd/ui/GameEnd.tsx
Due: client-lint, client-format

fix(be): socketId 추출을 위해 prefix를 따로 사용하도록 수정
  server/src/redis/cache/game-progress-cache.service.ts
Due: server-lint

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
