Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

test: lefthook 동작 확인
  client/src/test-hook-verify.ts
Due: client-lint, client-format

feat(fe): 스트로크 정규화 로직 구현
  client/src/entities/similarity/model/index.ts
  client/src/entities/similarity/model/stroke.ts
  client/src/shared/lib/similarity/calculateSimilarity.ts
  client/src/shared/lib/similarity/index.ts
  client/src/shared/lib/similarity/normalizeStrokes.ts
Due: client-lint, client-format

feat(fe): 스트로크 기본 기하 성질 계산 로직 추가
  client/src/shared/lib/similarity/strokeGeometry.ts
Due: client-lint, client-format

style(fe): 최종 유사도 계산 함수 이름 변경(calculateFinalSimilarity)
  client/src/shared/lib/similarity/calculateFinalSimilarity.ts
  client/src/shared/lib/similarity/index.ts
Due: client-lint, client-format

chore: 프리티어 기본 설정 명시적으로 수정
  server/.prettierrc
Due: none

remove: lefthook 체킹용 파일 삭제
  client/src/test-hook-verify.ts
Due: client-lint, client-format

chore: lefthook 설정 추가 - 린트오류시 결과 요약설명하게 설정 - 서버관련 포맷도 스테이징될 경우 체크하도록 설정
  lefthook.yml
Due: none

docs: pr 템플릿 위치 변경
  .github/pull_request_template.md
Due: none

feat(fe): 스트로크 유사도 로직 추가
  client/src/shared/lib/similarity/calculateFinalSimilarity.ts
  client/src/shared/lib/similarity/calculateGreedyStrokeMatchScore.ts
  client/src/shared/lib/similarity/comparePairwiseStrokeSimilarity.ts
Due: client-lint, client-format

feat(fe): 형태 유사도(hull) 계산 로직 추가
  client/src/shared/lib/similarity/calculateFinalSimilarity.ts
  client/src/shared/lib/similarity/convexHall.ts
Due: client-lint, client-format

feat(fe): 최종 유사도 계산 함수 완성
  client/src/shared/lib/similarity/calculateFinalSimilarity.ts
Due: client-lint, client-format

refactor(fe): 계산 관련 중복로직 유틸로 분리
  client/src/shared/lib/similarity/comparePairwiseStrokeSimilarity.ts
  client/src/shared/lib/similarity/convexHall.ts
  client/src/shared/lib/similarity/mathUtils.ts
  client/src/shared/lib/similarity/strokeGeometry.ts
Due: client-lint, client-format

refactor(fe): 유사도 관련 로직 entities/similarity/lib으로 이동
  client/src/entities/similarity/index.ts
  client/src/entities/similarity/lib/calculateFinalSimilarity.ts
  client/src/entities/similarity/lib/calculateGreedyStrokeMatchScore.ts
  client/src/entities/similarity/lib/comparePairwiseStrokeSimilarity.ts
  client/src/entities/similarity/lib/convexHall.ts
  client/src/entities/similarity/lib/index.ts
  client/src/entities/similarity/lib/mathUtils.ts
  client/src/entities/similarity/lib/normalizeStrokes.ts
  client/src/entities/similarity/lib/strokeGeometry.ts
Due: client-lint, client-format

refactor(be): 코드리뷰 반영; 매직넘버 및 타입 정의 분리
  server/src/common/constants/index.ts
  server/src/common/types/game-room.types.ts
  server/src/common/types/index.ts
  server/src/redis/cache/game-room-cache.service.ts
Due: server-lint

remove(be): 사용하지 않는 파일 삭제
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
Due: server-lint

chore(be): 웹소켓 라이브러리 설치
  server/package.json
  server/pnpm-lock.yaml
Due: none

feat(be): game.gateway.ts, game.module 구조 구현
  server/src/game/game.gateway.spec.ts
  server/src/game/game.gateway.ts
  server/src/game/game.module.ts
Due: server-lint

feat(be): 웹소켓 이벤트 상수화, 메시지 dto 정의
  server/src/game/dto/join-room.dto.ts
  server/src/game/dto/start-game.dto.ts
  server/src/game/dto/update-settings.dto.ts
  server/src/game/game.constants.ts
Due: server-lint

feat(be): 게임 플레이 모듈 정의
  server/src/play/play.gateway.spec.ts
  server/src/play/play.gateway.ts
  server/src/play/play.module.ts
Due: server-lint

refactor(be): 이벤트 메시지 본문 dto 이름 변경
  server/src/game/dto/room-settings.dto.ts
  server/src/game/dto/room-start.dto.ts
  server/src/game/dto/user-join.dto.ts
  server/src/game/game.gateway.ts
  server/src/play/dto/user-drawing.dto.ts
  server/src/play/dto/user-score.dto.ts
  server/src/play/play.gateway.ts
Due: server-lint

refactor(be): 웹소켓 이벤트 리팩토링
  server/src/core/game.constants.ts
  server/src/game/game.constants.ts
  server/src/game/game.gateway.ts
  server/src/play/play.gateway.ts
Due: server-lint

feat(be): 웹소켓 응답 메시지 dto 정의
  server/src/core/drawing.types.ts
  server/src/core/game.constants.ts
  server/src/core/game.types.ts
  server/src/game/dto/room-metadata.dto.ts
  server/src/play/dto/room-leaderboard.dto.ts
  server/src/round/dto/room-game-end.dto.ts
  server/src/round/dto/room-prompt.dto.ts
  server/src/round/dto/room-round-end.dto.ts
  server/src/round/dto/room-timer.dto.ts
Due: server-lint

refactor(be): dto 클래스 이름 변경
  server/src/game/dto/room-settings.dto.ts
  server/src/game/dto/room-start.dto.ts
  server/src/game/dto/user-join.dto.ts
  server/src/game/game.gateway.ts
  server/src/play/dto/user-drawing.dto.ts
  server/src/play/dto/user-score.dto.ts
  server/src/play/play.gateway.ts
Due: server-lint

feat(be): 게임 플레이 게이트웨이 구조 세팅
  server/src/core/drawing.types.ts
  server/src/game/game.module.ts
  server/src/play/dto/submit-drawing.dto.ts
  server/src/play/dto/update-score.dto.ts
  server/src/play/play.gateway.ts
  server/src/play/play.module.ts
Due: server-lint

feat(be): 웹소켓 CORS 설정
  server/.env.example
  server/src/game/game.gateway.ts
  server/src/main.ts
Due: server-lint

feat(be): game.module, play.module을 app.module에 import
  server/src/app.module.ts
Due: server-lint

feat(be): round 모듈 선언 및 game, play, round 모듈을 app 모듈에 import
  server/src/app.module.ts
  server/src/round/round.module.ts
Due: server-lint

refactor(be): core에 있던 type, constants를 common를 통합
  server/src/common/constants/index.ts
  server/src/common/types/game-play.types.ts
  server/src/common/types/game-room.types.ts
  server/src/common/types/index.ts
  server/src/core/game.constants.ts
  server/src/game/dto/room-metadata.dto.ts
  server/src/game/game.gateway.ts
  server/src/play/dto/user-drawing.dto.ts
  server/src/play/play.gateway.ts
  server/src/round/dto/room-game-end.dto.ts
  server/src/round/dto/room-prompt.dto.ts
  server/src/round/dto/room-round-end.dto.ts
Due: server-lint

chore(be): @socket.io/redis-adapter 설치
  server/package.json
  server/pnpm-lock.yaml
Due: none

refactor(be): .env 환경 변수 사용과 로그 설정
  server/.env.example
  server/src/redis/redis.service.ts
Due: server-lint

remove(be): 레디스 어댑터 라이브러리 삭제
  server/package.json
  server/pnpm-lock.yaml
Due: none

feat(be): RoomLeaderboard 속성 타입 변경
  server/src/play/dto/room-leaderboard.dto.ts
Due: server-lint

remove(be): 테스트 코드 삭제
  server/src/game/game.gateway.spec.ts
  server/src/play/play.gateway.spec.ts
Due: server-lint

chore: jest 실행 시 테스트가 없는 경우 실패하는 에러 수정
  server/package.json
Due: none

style(fe): 최종 유사도 계산 함수에서 사용자 그림 스트로크 변수명 변경
  client/src/entities/similarity/lib/calculateFinalSimilarity.ts
Due: client-lint, client-format

fix(fe): 미작성 phase 추가
  client/src/pages/game/Game.tsx
Due: client-lint, client-format

refactor(fe): entities/similarity/lib 파일들 하위 폴더로 분리
  client/src/entities/similarity/lib/calculateFinalSimilarity.ts
  client/src/entities/similarity/lib/geometry/convexHall.ts
  client/src/entities/similarity/lib/geometry/strokeGeometry.ts
  client/src/entities/similarity/lib/strokeSimilarity/calculateGreedyStrokeMatchScore.ts
  client/src/entities/similarity/lib/strokeSimilarity/comparePairwiseStrokeSimilarity.ts
  client/src/entities/similarity/lib/utils/mathUtils.ts
  client/src/entities/similarity/lib/utils/normalizeStrokes.ts
Due: client-lint, client-format

chore: pnpm-lock.ymal 파일에서 허스키 린트스테이지 제거
  pnpm-lock.yaml
Due: none

feat(be): 방 생성하기 API 구현
  server/src/app.module.ts
  server/src/game/game.controller.ts
  server/src/game/game.module.ts
  server/src/game/game.service.ts
Due: server-lint

rename(fe): mathUtils 이름 변경 (->math)
  client/src/entities/similarity/lib/geometry/convexHall.ts
  client/src/entities/similarity/lib/geometry/strokeGeometry.ts
  client/src/entities/similarity/lib/strokeSimilarity/comparePairwiseStrokeSimilarity.ts
  client/src/entities/similarity/lib/utils/math.ts
Due: client-lint, client-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
