Repository boostcampwm2025/web04-we-are-all-da-Vinci: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-format, server-lint, server-format

client-lint:
  run: npx eslint --fix {staged_files}

client-format:
  run: npx prettier --write {staged_files}

server-lint:
  run: npx eslint --fix {staged_files}

server-format:
  run: npx prettier --write {staged_files}

fix(fe): CI packages 빌드 추가
  .github/workflows/chromatic.yml
  .github/workflows/lighthouse-ci.yml
  client/netlify.toml
Due: none

fix(fe): netlify cammand 추가(shared 빌드)
  client/netlify.toml
Due: none

fix(fe): 크로마틱 빌드 shared 패키지 cjs 추가
  client/.storybook/main.ts
Due: client-lint, client-format

fix(be): prebuild tsbuildinfo 삭제 제거, buildinfo를 DIST 폴더 안으로 이동
  server/package.json
  server/tsconfig.build.json
Due: none

fix(fe): 광고 컨텍스트 추가
  client/index.html
Due: none

feat(fe): Netlify 도메인 리다이렉트 설정
  client/public/_redirects
Due: none

docs: gitignore에 .vite 캐시 폴더 추가
  .gitignore
Due: none

style: redirects 주석 오타 수정
  client/public/_redirects
Due: none

design(fe): 전체 사이즈 1420px로 한정
  client/src/index.css
Due: none

design(fe): nelify redirect www 제거
  client/public/_redirects
Due: none

test(be): round.service.spec.ts event emitter 의존성 추가
  server/src/round/round.service.spec.ts
Due: server-lint, server-format

fix(fe): shared타입 적용
  client/src/entities/drawing/lib/drawStrokesOnCanvas.test.ts
  client/src/entities/gameRoom/model/gameStore.ts
  client/src/features/drawingCanvas/model/useDrawingSubmission.test.ts
  client/src/features/playerList/model/useKickModal.ts
  client/src/test/mocks/mockData.ts
  client/src/widgets/waiting/model/useWaitingActions.test.ts
  client/src/widgets/waiting/model/useWaitingActions.ts
Due: client-lint, client-format

fix(be): 나간 플레이어의 누적 기록을 삭제하지 않는 버그 수정
  server/src/game/player.service.spec.ts
  server/src/game/player.service.ts
Due: server-lint, server-format

refactor(fe): pencil.png를 shared/assets로 이동
  client/src/features/drawingCanvas/ui/DrawingCanvas.tsx
  client/src/shared/assets/images/cursor/pencil.png
Due: client-lint, client-format

feat(fe): 강원교육현옥샘 폰트 파일 추가
  client/src/shared/assets/fonts/강원교육현옥샘.woff2
Due: none

style(fe): 전역 폰트를 강원교육현옥샘으로 변경
  client/src/index.css
Due: none

style(fe): UI 컴포넌트에 손글씨 폰트 적용
  client/src/entities/drawing/ui/RankingPanel.tsx
  client/src/entities/gameResult/ui/FinalRankingCard.tsx
  client/src/entities/gameResult/ui/PodiumPlayer.tsx
  client/src/entities/gameSettings/ui/SettingItem.tsx
  client/src/entities/ranking/ui/StandingRow/StandingRow.tsx
  client/src/entities/ranking/ui/rankingCard/RankingCard.tsx
  client/src/entities/roundResult/ui/PlayerReplayCard.tsx
  client/src/entities/roundResult/ui/PromptSection.tsx
  client/src/entities/similarity/ui/similarityDetail/MySimilarityDetail.tsx
  client/src/features/chat/ui/ChatInput.tsx
  client/src/features/chat/ui/ChatMessage.tsx
  client/src/features/roomCode/ui/RoomCodeCopy.tsx
  client/src/shared/ui/Input.tsx
  client/src/shared/ui/RoundBadge.tsx
  client/src/widgets/main/ui/Main.tsx
Due: client-lint, client-format

style(fe): 코드 포맷팅 수정
  client/src/widgets/waiting/model/useWaitingActions.test.ts
Due: client-lint, client-format

fix(fe): setting 타입 수정(maxPlayers -> maxPlayer)
  client/src/widgets/waiting/model/useWaitingActions.test.ts
Due: client-lint, client-format

fix(be): 타이머 브로드 캐스트 명시 - 드로잉 페이즈로 넘어갈 때 타이머가 scan 타이밍에 맞지않을 수 있어 명시적으로 브로드캐스트하게 설정
  server/src/timer/timer.service.ts
Due: server-lint, server-format

design(fe): 라운드 리플레이에서 유사도 상세정보 반응형 적용
  client/src/entities/similarity/ui/similarityDetail/MySimilarityDetail.tsx
  client/src/widgets/roundReplay/ui/RoundReplay.tsx
Due: client-lint, client-format

design(fe): 내 유사도 상세보기 UI 100%기준으로 수정
  client/src/entities/similarity/ui/MySimilarityDetail.stories.tsx
  client/src/entities/similarity/ui/MySimilarityDetail.tsx
Due: client-lint, client-format

fix(be): 타이머 삭제 버그 수정
  server/src/timer/timer.service.ts
Due: server-lint, server-format

fix(fe): @import 위치 조정으로 Tailwind CSS 스타일 적용 문제 해결
  client/src/index.css
Due: none

chore(be): 사용하지 않는 로그 코드 수정
  server/src/timer/timer.service.ts
Due: server-lint, server-format

feat(fe): 프로필 localStorage 유틸리티 함수 추가
  client/src/shared/lib/index.ts
  client/src/shared/lib/profile.ts
Due: client-lint, client-format

refactor(fe): localStorage 직접 접근을 유틸 함수로 대체
  client/src/app/ui/AppLayout.tsx
  client/src/entities/profile/lib/profileId.ts
  client/src/entities/profile/ui/ProfileEditor.tsx
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

fix(fe): index.css @import 백틱 제거
  client/src/index.css
Due: none

feat(fe): BaseModal 닫기 버튼 지원
  client/src/shared/ui/BaseModal.tsx
Due: client-lint, client-format

refactor(fe): 프로필/방설정 모달에 닫기 버튼 적용
  client/src/features/profileSettings/ui/ProfileSettingsModal.tsx
  client/src/features/roomSettings/ui/RoomSettingsModal.tsx
Due: client-lint, client-format

fix(fe): 프로필 모달 Enter 저장 기능 복구
  client/src/entities/profile/ui/ProfileEditor.tsx
  client/src/features/profileSettings/ui/ProfileSettingsModal.tsx
Due: client-lint, client-format

style(fe): 유사도 툴팁 스타일 통일
  client/src/entities/similarity/ui/PlayerSimilarityDetailTooltip.tsx
Due: client-lint, client-format

feat(fe): BaseModal 키보드 단축키 지원 (Enter/ESC)
  client/src/entities/profile/ui/ProfileEditor.tsx
  client/src/features/profileSettings/ui/ProfileSettingsModal.tsx
  client/src/shared/model/index.ts
  client/src/shared/model/useModalKeyboard.ts
  client/src/shared/ui/BaseModal.tsx
Due: client-lint, client-format

refactor: ProfileEditor controlled component 패턴으로 상태 통합 관리
  client/src/entities/profile/ui/ProfileEditor.tsx
  client/src/features/profileSettings/ui/ProfileSettingsModal.tsx
  client/src/shared/model/index.ts
  client/src/shared/model/useModalKeyboard.ts
  client/src/shared/ui/BaseModal.tsx
Due: client-lint, client-format

style(fe): 전역 prettier format 적용
  client/src/features/socket/model/useGameSocket.ts
Due: client-lint, client-format

fix(be): 예외 필터에 InternalError를 잡지 않는 버그 수정
  server/src/common/exceptions/websocket-exception.filter.ts
Due: server-lint, server-format

fix(be): super.catch에 에러 객체를 넣도록 수정
  server/src/common/exceptions/websocket-exception.filter.ts
Due: server-lint, server-format

rename(fe): useCountUp lib에서 model로 폴더 위치 변경
  client/src/entities/ranking/ui/StandingRow.tsx
  client/src/shared/lib/index.ts
  client/src/shared/model/index.ts
Due: client-lint, client-format

fix(be): websocket exception filter에서 WsException이 모두 INTERNAL_ERROR로 처리되는 버그 수정
  server/src/common/exceptions/websocket-exception.filter.ts
  server/src/game/game.gateway.ts
Due: server-lint, server-format

Path conditions:
  client-lint: any of: *.{ts,tsx} and ^client/
  client-format: any of: *.{ts,tsx} and ^client/
  server-lint: any of: *.ts and ^server/
  server-format: any of: *.ts and ^server/
